<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LeadDynamo</title>
    <link rel="icon" type="image/png" href="https://d2jem67z10pety.cloudfront.net/images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">

    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/jquery-1.11.min.js" data-cfasync='true'></script>
    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/bootstrap.min.js" data-cfasync='true'></script>
    <script data-cfasync='true'>
        $(window).load(function(){
            if ($('.tooled') && $('.tooled').length){
                $('.tooled').tooltip();
            }
            {{#if email}}
                olark('api.visitor.updateEmailAddress', {emailAddress: '{{email}}'});
                olark('api.visitor.updateFullName', {fullName: '{{firstname}} {{lastname}}'});
            {{/if}}
        });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51607591-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body style="margin-bottom: 30px;">
<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('1519-278-10-5863');/*]]>*/</script><noscript><a href="https://www.olark.com/site/1519-278-10-5863/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->
    <div class="app" style="margin-right: 0px;margin-left: 0px;background-color:#ffffff;height: 100%;">

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img style="width:70px;margin-top:-7px;" src="https://d2jem67z10pety.cloudfront.net/images/LeadDynamoHeader.png"></img></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {{#unless loggedIn}}
                    <ul class="nav navbar-nav">
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                    </ul>
                    {{else}}
                    <ul class="nav navbar-nav">
                        <li><a href="/leads">Leads</a></li>
                    </ul>
                    {{/unless}}
                    {{#if loggedIn}}
                    <ul class="nav navbar-nav navbar-right" style="margin-right: -30px;">
                        {{#unless linkedin}}
                        <li class="tooled" data-toggle="tooltip" data-placement="bottom" title="Status update for 25 free credits"><a href="/linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                        {{/unless}}
                        {{#unless twitter}}
                        <li class="tooled" data-toggle="tooltip" data-placement="bottom" title="Tweet for 25 free credits"><a href="/twitter"><i class="fa fa-twitter-square"></i></a></li>
                        {{/unless}}
                        <li><a href="/credits">{{credits}} Credits</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{email}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">Profile</a></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                    {{/if}}
                </div>
            </div>
        </nav>

        <div class="row">
          <div class="col-md-3" style="text-align:center;">
            <div class="thumbnail">
              <img src="https://d2jem67z10pety.cloudfront.net/images/cambridge.jpg" data-src="https://d2jem67z10pety.cloudfront.net/images/cambridge.jpg" alt="Cambridge">
              <div class="caption">
                <h3 style="margin-top:10px;">Cambridge HQ</h3>
              </div>
            </div>
            <div class="thumbnail">
                <img class="img-thumbnail" style="width:215px;height:214px;" src="https://d2jem67z10pety.cloudfront.net/images/jeremy.jpg" data-src="https://d2jem67z10pety.cloudfront.net/images/jeremy.jpg" alt="Jeremy Dabor">
                <div class="caption">
                    <h2 style="margin-top:10px;"><a target="_blank" href="https://uk.linkedin.com/in/jdabor">Jeremy Dabor</a></h2>
                    <div class="well well-lg" style="margin-bottom:0px;">
                        <h3 style="margin-top:0px;">Contact:</h3>
                        <p><a href="mailto:jeremy@leaddynamo.co?Subject=Account%20Inquiries" target="_top">jeremy@leaddynamo.co</a></p>
                        <p>+44 (0) 7775 072418</p>
                        <p>Cambridge, UK</p>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-3" style="text-align:center;">
              <div class="thumbnail">
                <img src="https://d2jem67z10pety.cloudfront.net/images/sandiego.jpg" data-src="https://d2jem67z10pety.cloudfront.net/images/sandiego.jpg" alt="San Diego">
                <div class="caption">
                  <h3 style="margin-top:10px;">San Diego HQ</h3>
                </div>
              </div>
              <div class="thumbnail">
                  <img class="img-thumbnail" style="width:215px;height:214px;" src="https://d2jem67z10pety.cloudfront.net/images/jared.jpg" data-src="https://d2jem67z10pety.cloudfront.net/images/jared.jpg" alt="Jeremy Dabor">
                  <div class="caption">
                      <h2 style="margin-top:10px;"><a target="_blank" href="https://linkedin.com/in/jaredmimms">Jared Mimms</a></h2>
                      <div class="well well-lg" style="margin-bottom:0px;">
                          <h3 style="margin-top:0px;">Contact:</h3>
                          <p><a href="mailto:jared@leaddynamo.co?Subject=Account%20Inquiries" target="_top">jared@leaddynamo.co</a></p>
                          <p>+1 (858) 208 7573</p>
                          <p>San Diego, CA, USA</p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-md-3" style="text-align:center;">
                <div class="thumbnail">
                  <img src="https://d2jem67z10pety.cloudfront.net/images/boston.jpg" data-src="https://d2jem67z10pety.cloudfront.net/images/boston.jpg" alt="Boston">
                  <div class="caption">
                    <h3 style="margin-top:10px;">Boston HQ</h3>
                  </div>
                </div>
                <div class="thumbnail">
                    <img class="img-thumbnail" style="width:215px;height:214px;" src="https://d2jem67z10pety.cloudfront.net/images/you.jpg" data-src="https://d2jem67z10pety.cloudfront.net/images/you.jpg" alt="You">
                    <div class="caption">
                        <h2 style="margin-top:10px;"><a href="mailto:jobs@leaddynamo.co?Subject=Account%20Inquiries" target="_top">You?</a></h2>
                        <div class="well well-lg" style="margin-bottom:0px;">
                            <h3 style="margin-top:0px;">Contact:</h3>
                            <p><a href="mailto:jobs@leaddynamo.co?Subject=Account%20Inquiries" target="_top">jobs@leaddynamo.co</a></p>
                            <p>+1 (858) 208 7573</p>
                            <p>Boston, MA, USA</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="text-align:center;">
                <div class="thumbnail">
                  <img src="https://d2jem67z10pety.cloudfront.net/images/sanfrancisco.jpg" data-src="https://d2jem67z10pety.cloudfront.net/images/boston.jpg" alt="Boston">
                  <div class="caption">
                    <h3 style="margin-top:10px;">San Francisco HQ</h3>
                  </div>
                </div>
                <div class="thumbnail">
                    <img class="img-thumbnail" style="width:215px;height:214px;" src="https://d2jem67z10pety.cloudfront.net/images/you2.jpg" data-src="https://d2jem67z10pety.cloudfront.net/images/you2.jpg" alt="You">
                    <div class="caption">
                        <h2 style="margin-top:10px;"><a href="mailto:jobs@leaddynamo.co?Subject=Account%20Inquiries" target="_top">You?</a></h2>
                        <div class="well well-lg" style="margin-bottom:0px;">
                            <h3 style="margin-top:0px;">Contact:</h3>
                            <p><a href="mailto:jobs@leaddynamo.co?Subject=Account%20Inquiries" target="_top">jobs@leaddynamo.co</a></p>
                            <p>+1 (858) 208 7573</p>
                            <p>San Francisco, CA, USA</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" style="z-index: 5;width: 100%;position: absolute;">
        <div class="contained">
            <p class="muted credit text-muted"><a href="/terms">Terms</a> &bull; <a href="/acceptableUse">Acceptable Use</a> &bull; <a href="/privacy">Privacy</a></p>
            <p class="muted text-muted"><a href="https://twitter.com/LeadDynamo" target="_blank"><i class="fa fa-twitter-square"></i></a> &bull; <a href="https://www.youtube.com/channel/UCKf1FiBpFKb6YRnW1VMi9cQ" target="_blank"><i class="fa fa-youtube-square"></i></a> &bull; <a href="https://vimeo.com/user29643946" target="_blank"><i class="fa fa-vimeo-square"></i></a></p>
            <p style="margin-bottom:20px;" class="muted credit text-muted">© LeadDynamo 2014</p>
        </div>
    </div>
</body>
</html>