<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LeadDynamo</title>
    <link rel="icon" type="image/png" href="https://d2jem67z10pety.cloudfront.net/images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="https://d2jem67z10pety.cloudfront.net/stylesheets/jquery.tagsinput.css">
    <link rel="stylesheet" href="https://d2jem67z10pety.cloudfront.net/stylesheets/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://d2jem67z10pety.cloudfront.net/stylesheets/dropzone.css">

    <style>
        .tag a {
            display: none !important;
        }
        .checkbox {
            position: relative;
            display: inline-block;
            padding: 7px 7px;
            cursor: pointer; }
        .checkbox input:before, .checkbox .checkbox-icon:before {
            border-color: #3a87ad; }
        .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
            background: #3a87ad; }
        .checkbox.checkbox-light input:before, .checkbox.checkbox-light .checkbox-icon:before {
            border-color: #ddd; }
        .checkbox.checkbox-light input:checked:before, .checkbox.checkbox-light input:checked + .checkbox-icon:before {
            background: #ddd; }
        .checkbox.checkbox-stable input:before, .checkbox.checkbox-stable .checkbox-icon:before {
            border-color: #b2b2b2; }
        .checkbox.checkbox-stable input:checked:before, .checkbox.checkbox-stable input:checked + .checkbox-icon:before {
            background: #b2b2b2; }
        .checkbox.checkbox-positive input:before, .checkbox.checkbox-positive .checkbox-icon:before {
            border-color: #3a87ad; }
        .checkbox.checkbox-positive input:checked:before, .checkbox.checkbox-positive input:checked + .checkbox-icon:before {
            background: #3a87ad; }
        .checkbox.checkbox-calm input:before, .checkbox.checkbox-calm .checkbox-icon:before {
            border-color: #43cee6; }
        .checkbox.checkbox-calm input:checked:before, .checkbox.checkbox-calm input:checked + .checkbox-icon:before {
            background: #43cee6; }
        .checkbox.checkbox-assertive input:before, .checkbox.checkbox-assertive .checkbox-icon:before {
            border-color: #ef4e3a; }
        .checkbox.checkbox-assertive input:checked:before, .checkbox.checkbox-assertive input:checked + .checkbox-icon:before {
            background: #ef4e3a; }
        .checkbox.checkbox-balanced input:before, .checkbox.checkbox-balanced .checkbox-icon:before {
            border-color: #66cc33; }
        .checkbox.checkbox-balanced input:checked:before, .checkbox.checkbox-balanced input:checked + .checkbox-icon:before {
            background: #66cc33; }
        .checkbox.checkbox-energized input:before, .checkbox.checkbox-energized .checkbox-icon:before {
            border-color: #f0b840; }
        .checkbox.checkbox-energized input:checked:before, .checkbox.checkbox-energized input:checked + .checkbox-icon:before {
            background: #f0b840; }
        .checkbox.checkbox-royal input:before, .checkbox.checkbox-royal .checkbox-icon:before {
            border-color: #8a6de9; }
        .checkbox.checkbox-royal input:checked:before, .checkbox.checkbox-royal input:checked + .checkbox-icon:before {
            background: #8a6de9; }
        .checkbox.checkbox-dark input:before, .checkbox.checkbox-dark .checkbox-icon:before {
            border-color: #444; }
        .checkbox.checkbox-dark input:checked:before, .checkbox.checkbox-dark input:checked + .checkbox-icon:before {
            background: #444; }

        .checkbox.checkbox-input-hidden input {
            display: none !important; }

        .checkbox input, .checkbox-icon {
            position: relative;
            width: 28px;
            height: 28px;
            display: block;
            border: 0;
            background: transparent;
            cursor: pointer;
            -webkit-appearance: none; }
        .checkbox input:before, .checkbox-icon:before {
            display: table;
            width: 100%;
            height: 100%;
            border-width: 1px;
            border-style: solid;
            border-radius: 28px;
            background: #fff;
            content: ' ';
            transition: background-color 20ms ease-in-out; }

        .checkbox input:checked:before, input:checked + .checkbox-icon:before {
            border-width: 2px; }

        .checkbox input:after, .checkbox-icon:after {
            -webkit-transition: opacity 0.05s ease-in-out;
            -moz-transition: opacity 0.05s ease-in-out;
            transition: opacity 0.05s ease-in-out;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            transform: rotate(-45deg);
            position: absolute;
            top: 25%;
            left: 24%;
            display: table;
            width: 15px;
            height: 10.33333px;
            border: 3px solid #fff;
            border-top: 0;
            border-right: 0;
            content: ' ';
            opacity: 0; }

        .grade-c .checkbox input:after, .grade-c .checkbox-icon:after {
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            transform: rotate(0);
            top: 3px;
            left: 4px;
            border: none;
            color: #fff;
            content: '\2713';
            font-weight: bold;
            font-size: 20px; }

        .checkbox input:checked:after, input:checked + .checkbox-icon:after {
            opacity: 1; }

        .item-checkbox {
            padding-left: 58px; }
        .item-checkbox.active {
            box-shadow: none; }

        .item-checkbox .checkbox {
            position: absolute;
            top: 50%;
            right: 7.5px;
            left: 7.5px;
            z-index: 3;
            margin-top: -21px; }

        .item-checkbox.item-checkbox-right {
            padding-right: 58px;
            padding-left: 15px; }

        .item-checkbox-right .checkbox input, .item-checkbox-right .checkbox-icon {
            float: right; }

        .right, .left {
            cursor: pointer;
            cursor: hand;
        }

        .breadcrumb .active {
            color: #777 !important;
            cursor: default;
            text-decoration: none !important;
        }

        #tags_addTag {
            display: none !important;
        }
    </style>

    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/jquery-1.11.min.js" data-cfasync='true'></script>
    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/bootstrap.min.js" data-cfasync='true'></script>
    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/jquery.tagsinput.min.js" data-cfasync='true'></script>
    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/moment.min.js" data-cfasync='true'></script>
    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/async.js" data-cfasync='true'></script>
    <script src="https://d2jem67z10pety.cloudfront.net/ckeditor/ckeditor.js" data-cfasync='true'></script>
    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/bootstrap-datetimepicker.min.js" data-cfasync='true'></script>
    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/dropzone.js" data-cfasync='true'></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>

    <script data-cfasync='true'>
        $(window).load(function(){
            var currentPage = 1;
            var blastoise = {{{blasted}}};

            if ($('.tooled') && $('.tooled').length){
                $('.tooled').tooltip();
            }
            jQuery.fn.toCSV = function() {
                var data = $(this).first();
                var csvData = [];
                var tmpArr = [];
                var tmpStr = '';
                data.find("tr").each(function() {
                    if($(this).find("th").length) {
                        $(this).find("th").each(function() {
                            tmpStr = $(this).text().replace(/"/g, '""');
                            tmpArr.push('"' + tmpStr + '"');
                        });
                        csvData.push(tmpArr);
                    }
                    else {
                        tmpArr = [];
                        $(this).find("td").each(function() {
                            if($(this).text().match(/^-{0,1}\d*\.{0,1}\d+$/)) {
                                tmpArr.push(parseFloat($(this).text()));
                            }
                            else {
                                tmpStr = $(this).text().replace(/"/g, '""');
                                tmpArr.push('"' + tmpStr + '"');
                            }
                        });
                        csvData.push(tmpArr.join(','));
                    }
                });
                var output = csvData.join('\n');
                var uri = 'data:application/csv;charset=UTF-8,' + encodeURIComponent(output);
                window.open(uri);
            }

            $('#tags').tagsInput({
                'height':'150px',
                'width':'100%',
                'interactive': false,
                'defaultText':'add an email and press enter',
                'removeWithBackspace' : false,
                'minChars' : 0,
                'placeholderColor' : '#666666'
            });

            CKEDITOR.inline('signature');
            CKEDITOR.instances.signature.setData('{{{signature}}}');

            CKEDITOR.inline('message');
            CKEDITOR.inline('followupMessage');

            var leadArray = [];

            if (blastoise.leads && blastoise.leads[0]){
                blastoise.leads.forEach(function(blastn){
                    var leadz = '<';
                    if (blastn.email){
                        if (blastn.firstname){
                            leadz += blastn.firstname;
                        }
                        if (blastn.lastname){
                            leadz += ' ' + blastn.lastname;
                        }
                        leadz += '>';
                        leadz += ' ' + blastn.email;
                    }
                    leadArray.push(leadz);
                });
            }

            $('#datetimepicker2').datetimepicker({
                language: 'en',
                pick12HourFormat: true
            });

            $('#pickDate').change(
            function(){
                if ($(this).is(':checked')) {
                    $('#datetimepicker2').fadeIn();
                }
                else {
                    $('#datetimepicker2').fadeOut();
                }
            });

            $('#tags').importTags(leadArray.toString());

            var index = {{{index}}};
            var finished = {{{finished}}};

            $(function($) {
                $('#tags_tagsinput').bind('scroll', function() {
                    if($(this).scrollTop() + $(this).innerHeight() >= this.scrollHeight && !finished) {
                        $.post('/moreLeads', {id : blastoise._id.toString(), index : index}, function(data){
                            if (data.success){
                                data.leads.forEach(function(blastn){
                                    var leadz = '<';
                                    if (blastn.email){
                                        if (blastn.firstname){
                                            leadz += blastn.firstname;
                                        }
                                        if (blastn.lastname){
                                            leadz += ' ' + blastn.lastname;
                                        }
                                        leadz += '>';
                                        leadz += ' ' + blastn.email;
                                    }
                                    $('#tags').addTag(leadz);
                                });
                                index = data.index;
                                finished = data.finished;
                            }
                        });
                    }
                });
            });

            var dropZone;

            $('#preview').on('click touchstart', function (evt){
                evt.preventDefault();
                var newHtml;

                var signature = CKEDITOR.instances.signature.getData();
                var message = CKEDITOR.instances.message.getData();
                var subject = $('#subject').val();
                var email = $('#email').val();
                var name = $('#name').val();
                var headerContent = '';
                if (email && name){
                    headerContent += '<span class="text-muted">From:</span> ' + name + ' &lt;' + email + '&gt;<br>';
                }
                else if (email){
                    headerContent += '<span class="text-muted">From:</span> ' + email + '<br>';
                }
                headerContent += '<span class="text-muted">Subject:</span> ' + subject;
                $('#previewHeader').html('<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>' + headerContent);
                $('#previewBody').html(message + signature);
                $('#previewModal').modal('show');
            });

            $("#myDropzone").dropzone({ uploadMultiple: true, addRemoveLinks: true, autoProcessQueue: false, parallelUploads: 30, maxFiles: 30, maxFilesize: 200,

                init: function() {
                    dropZone = this;
                    $(this.element).addClass("dropzone");
                    $(this.element).append("<div class=\"dz-default dz-message\"><span></span></div>");
                    this.on("successmultiple", function(file, response) {
                        window.location = '/leads';
                    });
                }
            });

            $('.left').on('click touchstart', function (evt){
                evt.preventDefault();
                currentPage -= 1;
                if (currentPage == 1){
                    $('.left').hide();
                    $('.one').show();
                    $('.two').hide();
                    $('.three').hide();
                    $('.four').hide();
                    $('.right').show();
                    $('.crumb').removeClass('active');
                    $('#stage1').addClass('active');
                }
                else if (currentPage == 2){
                    $('.left').show();
                    $('.two').show();
                    $('.one').hide();
                    $('.three').hide();
                    $('.four').hide();
                    $('.right').show();
                    $('.crumb').removeClass('active');
                    $('#stage2').addClass('active');
                }
                else if (currentPage == 3){
                    $('.left').show();
                    $('.three').show();
                    $('.two').hide();
                    $('.one').hide();
                    $('.four').hide();
                    $('.right').show();
                    $('.crumb').removeClass('active');
                    $('#stage3').addClass('active');
                }
                else if (currentPage == 4){
                    $('.left').show();
                    $('.four').show();
                    $('.two').hide();
                    $('.one').hide();
                    $('.three').hide();
                    $('.right').hide();
                    $('.crumb').removeClass('active');
                    $('#stage4').addClass('active');
                }
            });

            $('#stage1').on('click touchstart', function (evt){
                evt.preventDefault();
                $('.left').hide();
                $('.one').show();
                $('.two').hide();
                $('.three').hide();
                $('.four').hide();
                $('.right').show();
                $('.crumb').removeClass('active');
                $('#stage1').addClass('active');
                currentPage = 1;
            });

            $('#stage2').on('click touchstart', function (evt){
                evt.preventDefault();
                $('.left').show();
                $('.one').hide();
                $('.two').show();
                $('.three').hide();
                $('.four').hide();
                $('.right').show();
                $('.crumb').removeClass('active');
                $('#stage2').addClass('active');
                currentPage = 2;
            });

            $('#stage3').on('click touchstart', function (evt){
                evt.preventDefault();
                $('.left').show();
                $('.one').hide();
                $('.two').hide();
                $('.three').show();
                $('.four').hide();
                $('.right').show();
                $('.crumb').removeClass('active');
                $('#stage3').addClass('active');
                currentPage = 3;
            });

            $('#stage4').on('click touchstart', function (evt){
                evt.preventDefault();
                $('.left').show();
                $('.one').hide();
                $('.two').hide();
                $('.three').hide();
                $('.four').show();
                $('.right').hide();
                $('.crumb').removeClass('active');
                $('#stage4').addClass('active');
                currentPage = 4;
            });

            $('.right').on('click touchstart', function (evt){
                evt.preventDefault();
                currentPage += 1;
                if (currentPage == 1){
                    $('.left').hide();
                    $('.one').show();
                    $('.two').hide();
                    $('.three').hide();
                    $('.four').hide();
                    $('.right').show();
                    $('.crumb').removeClass('active');
                    $('#stage1').addClass('active');
                }
                else if (currentPage == 2){
                    $('.left').show();
                    $('.two').show();
                    $('.one').hide();
                    $('.three').hide();
                    $('.four').hide();
                    $('.right').show();
                    $('.crumb').removeClass('active');
                    $('#stage2').addClass('active');
                }
                else if (currentPage == 3){
                    $('.left').show();
                    $('.three').show();
                    $('.two').hide();
                    $('.one').hide();
                    $('.four').hide();
                    $('.right').show();
                    $('.crumb').removeClass('active');
                    $('#stage3').addClass('active');
                }
                else if (currentPage == 4){
                    $('.left').show();
                    $('.four').show();
                    $('.two').hide();
                    $('.one').hide();
                    $('.three').hide();
                    $('.right').hide();
                    $('.crumb').removeClass('active');
                    $('#stage4').addClass('active');
                }
            });

            $('#submitted').on('click touchstart', function (evt){
                evt.preventDefault();
                var signature = CKEDITOR.instances.signature.getData();
                var message = CKEDITOR.instances.message.getData();
                var followUpMessage = CKEDITOR.instances.followupMessage.getData();
                var picker;
                if ($('#datetimepicker2').data("DateTimePicker") && $('#pickDate').is(':checked')){
                    picker = $('#datetimepicker2').data("DateTimePicker").getDate().format();
                }
                var pickDate = $('#pickDate').is(':checked');
                var nameFrom = $('#name').val();
                var emailFrom = $('#email').val();
                var subject = $('#subject').val();
                var blastoiseId = blastoise._id.toString();
                var list;
                {{#if list}}
                    list = true;
                {{/if}}

                if (dropZone.getQueuedFiles().length > 0){

                    $('#signature2').val(signature);
                    $('#pickDate2').val(pickDate);
                    $('#dateSend2').val(picker);
                    $('#emailFrom2').val(emailFrom);
                    $('#nameFrom2').val(nameFrom);
                    $('#templateMessage2').val(message);
                    $('#subject2').val(subject);
                    $('#id2').val(blastoiseId);
                    $('#followUpMessage2').val(followUpMessage);
                    $('#list2').val(list);

                    dropZone.processQueue();
                }
                else {
                    if (emailFrom && subject && nameFrom && message){
                        $.post('/sendBlast',{signature : signature, pickDate : pickDate, dateSend : picker, emailFrom : emailFrom, nameFrom : nameFrom, templateMessage : message, subject : subject, id : blastoiseId, followUpMessage : followUpMessage, list : list},function(data){
                            if (data.success){
                                window.location = '/leads?email=yes';
                            }
                            else if (data.more){
                                if (data.difference){
                                    var amount = Number(data.priceDifference).toFixed();
                                    var amountFormatted = '$' + Number(data.priceDifference).toFixed(2);

                                    var bodyString = '\<div class="row"\>\<div class="col-md-12"\>\<div class="alert alert-info creditUpdate" style="text-align:center;"\>' + data.totalMessages + ' messages costing ' + data.total + ' credits. You have ' + data.credits + ' and need ' + data.difference + ' more to send your message blast.\</div\>\</div\>\</div\>';

                                    $('.modal-body').html(bodyString);

                                    var finalString = '\<button type="button" class="btn btn-primary stripeButton" data-dismiss="modal"\>Buy ' + data.difference + ' More Messages\<\/button\>';

                                    $('.modal-footer').html(finalString);

                                    $('#leadModal').modal('show');

                                    if ($('.stripeButton') && $('.stripeButton')[0]){
                                        var handler = StripeCheckout.configure({
                                            key: '{{stripeKey}}',
                                            image: '/images/LeadDynamoStripe.png',
                                            token: function(token, args) {
                                                var blastData2 = {};
                                                blastData2.stripeToken = token.id;
                                                blastData2.amount = amount;
                                                blastData2.blastId = data.identifier;
                                                $.ajax({
                                                    type: "POST",
                                                    url: "/activateEmailBlast",
                                                    data: blastData2,
                                                    dataType: "json",
                                                    timeout: 1000000,
                                                    success: function(data) {
                                                        window.location = '/leads?email=yes';
                                                    }
                                                });
                                            }
                                        });

                                        $('.stripeButton').on('click touchstart', function (evt){
                                            handler.open({
                                                name: 'LeadDynamo Messages',
                                                description: data.difference.toString() + ' more messages (' + amountFormatted + ')',
                                                amount: amount
                                            });
                                            evt.preventDefault();
                                        });
                                    }
                                }
                            }
                        });
                    }
                    else {

                    }
                }
            });
            {{#if email}}
                olark('api.visitor.updateEmailAddress', {emailAddress: '{{email}}'});
                olark('api.visitor.updateFullName', {fullName: '{{firstname}} {{lastname}}'});
            {{/if}}
            $('.entry').fadeIn();
        });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51607591-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body style="margin-bottom: 30px;">
<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('1519-278-10-5863');/*]]>*/</script><noscript><a href="https://www.olark.com/site/1519-278-10-5863/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->
    <div class="app" style="margin-right: 0px;margin-left: 0px;margin-bottom: -160px !important;background-color:#ffffff;height: 850px !important;">

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img style="width:70px;margin-top:-7px;" src="https://d2jem67z10pety.cloudfront.net/images/LeadDynamoHeader.png"></img></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/leads">Leads</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" style="margin-right: -30px;">
                        {{#unless linkedin}}
                        <li class="tooled" data-toggle="tooltip" data-placement="bottom" title="Status update for 25 free credits"><a href="/linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                        {{/unless}}
                        {{#unless twitter}}
                        <li class="tooled" data-toggle="tooltip" data-placement="bottom" title="Tweet for 25 free credits"><a href="/twitter"><i class="fa fa-twitter-square"></i></a></li>
                        {{/unless}}
                        <li><a href="/credits" id="credCred">{{credits}} Credits</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{email}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">Profile</a></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="entry" style="display:none;">
            <div class="row" style="text-align:center;">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="#" id="stage1" class="active crumb">Message</a></li>
                        <li><a href="#" id="stage2" class="crumb">Follow Up</a></li>
                        <li><a href="#" id="stage3" class="crumb">Attachments</a></li>
                        <li><a href="#" id="stage4" class="crumb">Send</a></li>
                    </ol>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="row" style="text-align:center;">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <form class="form-horizontal" id="emailBlastForm" role="form" method="post" action="/sendBlast">
                        <div class="form-group one">
                            <div class="col-sm-12">
                                <input name="tags" id="tags"/>
                            </div>
                        </div>
                        <div class="form-group one">
                            <div class="col-sm-12">
                                <input type="email" style="text-align: center;" class="form-control" id="email" placeholder="Email From" value="{{email}}">
                            </div>
                        </div>
                        <div class="form-group one">
                            <div class="col-sm-12">
                                <input type="text" style="text-align: center;" class="form-control" id="name" placeholder="Name" value="{{#if firstname}}{{firstname}} {{/if}}{{lastname}}">
                            </div>
                        </div>
                        <div class="form-group one">
                            <div class="col-sm-12">
                                <input type="text" style="text-align: center;" class="form-control" id="subject" placeholder="Subject">
                            </div>
                        </div>
                        <div class="form-group one">
                            <div class="col-sm-12">
                                <hr>
                                <h4>Message</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="form-group one">
                            <div class="col-sm-12">
                                <textarea rows="4" cols="50" contenteditable="true" id="message" style="height:400px;width:100%;"> </textarea>
                            </div>
                        </div>
                        <div class="form-group two" style="display:none;">
                            <div class="col-sm-12">
                                <hr style="margin-top:0px;">
                                <h4>Follow Up Message</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="form-group two" style="display:none;">
                            <div class="col-sm-12">
                                <textarea rows="4" cols="50" contenteditable="true" id="followupMessage" style="height:400px;width:100%;"> </textarea>
                            </div>
                        </div>
                        <div class="form-group two" style="display:none;">
                            <div class="col-sm-12">
                                <hr>
                                <h4 style="margin:0px;">Signature</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="form-group two" style="display:none;margin-bottom: 17px;">
                            <div class="col-sm-12">
                                <textarea rows="4" cols="50" contenteditable="true" id="signature" style="height:200px;width:100%;"> </textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="row three" style="text-align:center;display:none;padding-top:8px;">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <hr>
                    <h4 style="margin:0px;">Attachments</h4>
                    <hr>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="row three" style="text-align:center;display:none;margin-bottom: 50px;">
                <div class="col-md-3">
                </div>
                <div class="col-md-6" style="margin-top: 5px;">
                    <form action="/sendBlast" class="dropper" id="myDropzone" style="box-shadow: #2c3e50 0 1px 2px;border-top: 2px;border-color: white;background-color: #b9def0 !important;border: 1px solid #cccccc !important;border-radius: 4px !important;">
                        <input type="hidden" id="signature2" name="signature2">
                        <input type="hidden" id="pickDate2" name="pickDate2">
                        <input type="hidden" id="dateSend2" name="dateSend2">
                        <input type="hidden" id="emailFrom2" name="emailFrom2">
                        <input type="hidden" id="nameFrom2" name="nameFrom2">
                        <input type="hidden" id="templateMessage2" name="templateMessage2">
                        <input type="hidden" id="subject2" name="subject2">
                        <input type="hidden" id="id2" name="id2">
                        <input type="hidden" id="followUpMessage2" name="followUpMessage2">
                        <input type="hidden" id="list2" name="list2">
                    </form>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="three row" style="display:none;margin-bottom:40px;">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <form style="margin-top: 10px;">
                        <label class="checkbox" style="float:left;margin-left: 11px;">
                            <input type="checkbox" id="pickDate" style="margin-top: 5px;margin-right: 5px;"> <p style="width: 170px;margin-bottom: 9px;margin-top: 10px;">Send at future date</p>
                        </label>
                        <div id="datetimepicker2" class="input-append" style="width: 172px; display: none;margin-top: 20px;float:right;margin-right: 30px;">
                            <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text">
                            <span class="add-on">
                                <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                </i>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="row four" style="text-align: center; display: none; margin-top: 5px;">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <button type="submit" id="preview" class="btn btn-default btn-block" style="height:300px;"><i style="font-size:100px;" class="fa fa-picture-o"></i></button>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="row four" style="text-align: center; display: none; margin-top: 30px; margin-bottom: 5px; padding-bottom: 1px;">
                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <button type="submit" id="submitted" class="btn btn-default btn-block" style="height:300px;"><i style="font-size:100px;" class="fa fa-paper-plane"></i></button>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="row" style="text-align:center;">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <h2 class="left" style="float:left;display:none;"><i class="fa fa-arrow-left"></i></h2><h2 class="right" style="float:right;"><i class="fa fa-arrow-right"></i></h2>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="leadModal">
        <div class="modal-dialog modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Send Message Blast</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer" style="margin-top:0px;">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="previewModal" style="background-color: #ffffff !important;">
        <div class="modal-dialog modal-dialog-center" style="background-color: #ffffff !important;">
            <div class="modal-content" style="background-color: #ffffff !important;">
                <div class="modal-header" id="previewHeader" style="background-color: #ffffff !important;margin: 5px;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-body" id="previewBody" style="background-color: #ffffff !important;">

                </div>
            </div>
        </div>
    </div>
    <div id="footer" style="margin-top: 100px;z-index: 5;width: 100%;position: absolute;">
        <div class="contained">
            <p class="muted credit text-muted"><a href="/terms">Terms</a> &bull; <a href="/acceptableUse">Acceptable Use</a> &bull; <a href="/privacy">Privacy</a></p>
            <p class="muted text-muted"><a href="https://twitter.com/LeadDynamo" target="_blank"><i class="fa fa-twitter-square"></i></a> &bull; <a href="https://www.youtube.com/channel/UCKf1FiBpFKb6YRnW1VMi9cQ" target="_blank"><i class="fa fa-youtube-square"></i></a> &bull; <a href="https://vimeo.com/user29643946" target="_blank"><i class="fa fa-vimeo-square"></i></a></p>
            <p style="margin-bottom:20px;" class="muted credit text-muted">© LeadDynamo 2014</p>
        </div>
    </div>
</body>
</html>