<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LeadDynamo</title>
    <link rel="icon" type="image/png" href="https://d2jem67z10pety.cloudfront.net/images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">

    {{#if loggedIn}}
    <link rel="stylesheet" href="https://d2jem67z10pety.cloudfront.net/stylesheets/jquery.tagsinput.css">
    <link rel="stylesheet" href="https://d2jem67z10pety.cloudfront.net/stylesheets/daterangepicker-bs3.css">

    <style type="text/css">
        .toggle {
            display: none;
        }
        .toggle + label {
            margin: 50px;
            display: block;
            position: relative;
            height: 40px;
            width: 160px;
            transition: all .25s ease-in .25s;
            left: 50%;
            margin-left: -80px;
            margin-top: 0px;
            margin-bottom: 10px;
        }
        .toggle + label.tk:before {
            content: "OR";
            position: absolute;
            top: -10px;
            left: 20px;
            z-index: 3;
        }
        .toggle + label.tk:after {
            content: "AND";
            position: absolute;
            top: -10px;
            right: 15px;
            z-index: 3;
            transition: all 0.25s ease-in 0.1s;
        }
        .toggle + label.tk2:before {
            content: "LEAD";
            position: absolute;
            top: -10px;
            left: 10px;
            z-index: 3;
        }
        .toggle + label.tk2:after {
            content: "PR";
            position: absolute;
            top: -10px;
            right: 25px;
            z-index: 3;
            transition: all 0.25s ease-in 0.1s;
        }
        .toggle + label.tk3:before {
            content: "SEARCH";
            position: absolute;
            top: -10px;
            left: -10px;
            z-index: 3;
        }
        .toggle + label.tk3:after {
            content: "EMAIL";
            position: absolute;
            top: -10px;
            right: 0px;
            z-index: 3;
            transition: all 0.25s ease-in 0.1s;
        }
        .toggle + label span.switch {
            display: block;
            position: relative;
            height: 50px;
            width: 50px;
            margin: 55px;
            border-radius: 55px;
            background-image: -webkit-linear-gradient(top,#d9edf7 0,#b9def0 100%);
            background-image: linear-gradient(to bottom,#d9edf7 0,#b9def0 100%);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
            border-color: #9acfea;
            z-index: 9999;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -0-transform: rotate(-45deg);
            transform: rotate(-45deg);
            transition: all 0.35s ease-in;
            z-index: 1;
        }
        .toggle + label span.switch:before {
            content: "";
            height: 30px;
            width: 30px;
            background-color: #9acfea;
            border-color: #9acfea;
            position: absolute;
            top: 9px;
            left: 10px;
            cursor: hand;
            cursor: pointer;
            border-radius: 30px;
        }
        .toggle + label span.switch:after {
            content: "";
            position: absolute;
            top: -16px;
            left: 14px;
            display: block;
            height: 0;
            width: 0;
            cursor: hand;
            cursor: pointer;
            border-bottom: 40px solid #323A3F;
            background-image: -webkit-linear-gradient(top,#d9edf7 0,#b9def0 100%);
            background-image: linear-gradient(to bottom,#d9edf7 0,#b9def0 100%);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
            border-color: #9acfea;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            z-index: -1;
        }
        .toggle:checked + label span.switch {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -0-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .checkbox {
            position: relative;
            display: inline-block;
            padding: 7px 7px;
            cursor: pointer; }
        .checkbox input:before, .checkbox .checkbox-icon:before {
            border-color: #3a87ad; }
        .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
            background: #3a87ad; }
        .checkbox.checkbox-light input:before, .checkbox.checkbox-light .checkbox-icon:before {
            border-color: #ddd; }
        .checkbox.checkbox-light input:checked:before, .checkbox.checkbox-light input:checked + .checkbox-icon:before {
            background: #ddd; }
        .checkbox.checkbox-stable input:before, .checkbox.checkbox-stable .checkbox-icon:before {
            border-color: #b2b2b2; }
        .checkbox.checkbox-stable input:checked:before, .checkbox.checkbox-stable input:checked + .checkbox-icon:before {
            background: #b2b2b2; }
        .checkbox.checkbox-positive input:before, .checkbox.checkbox-positive .checkbox-icon:before {
            border-color: #3a87ad; }
        .checkbox.checkbox-positive input:checked:before, .checkbox.checkbox-positive input:checked + .checkbox-icon:before {
            background: #3a87ad; }
        .checkbox.checkbox-calm input:before, .checkbox.checkbox-calm .checkbox-icon:before {
            border-color: #43cee6; }
        .checkbox.checkbox-calm input:checked:before, .checkbox.checkbox-calm input:checked + .checkbox-icon:before {
            background: #43cee6; }
        .checkbox.checkbox-assertive input:before, .checkbox.checkbox-assertive .checkbox-icon:before {
            border-color: #ef4e3a; }
        .checkbox.checkbox-assertive input:checked:before, .checkbox.checkbox-assertive input:checked + .checkbox-icon:before {
            background: #ef4e3a; }
        .checkbox.checkbox-balanced input:before, .checkbox.checkbox-balanced .checkbox-icon:before {
            border-color: #66cc33; }
        .checkbox.checkbox-balanced input:checked:before, .checkbox.checkbox-balanced input:checked + .checkbox-icon:before {
            background: #66cc33; }
        .checkbox.checkbox-energized input:before, .checkbox.checkbox-energized .checkbox-icon:before {
            border-color: #f0b840; }
        .checkbox.checkbox-energized input:checked:before, .checkbox.checkbox-energized input:checked + .checkbox-icon:before {
            background: #f0b840; }
        .checkbox.checkbox-royal input:before, .checkbox.checkbox-royal .checkbox-icon:before {
            border-color: #8a6de9; }
        .checkbox.checkbox-royal input:checked:before, .checkbox.checkbox-royal input:checked + .checkbox-icon:before {
            background: #8a6de9; }
        .checkbox.checkbox-dark input:before, .checkbox.checkbox-dark .checkbox-icon:before {
            border-color: #444; }
        .checkbox.checkbox-dark input:checked:before, .checkbox.checkbox-dark input:checked + .checkbox-icon:before {
            background: #444; }

        .checkbox.checkbox-input-hidden input {
            display: none !important; }

        .checkbox input, .checkbox-icon {
            position: relative;
            width: 28px;
            height: 28px;
            display: block;
            border: 0;
            background: transparent;
            cursor: pointer;
            -webkit-appearance: none; }
        .checkbox input:before, .checkbox-icon:before {
            display: table;
            width: 100%;
            height: 100%;
            border-width: 1px;
            border-style: solid;
            border-radius: 28px;
            background: #fff;
            content: ' ';
            transition: background-color 20ms ease-in-out; }

        .checkbox input:checked:before, input:checked + .checkbox-icon:before {
            border-width: 2px; }

        .checkbox input:after, .checkbox-icon:after {
            -webkit-transition: opacity 0.05s ease-in-out;
            -moz-transition: opacity 0.05s ease-in-out;
            transition: opacity 0.05s ease-in-out;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            transform: rotate(-45deg);
            position: absolute;
            top: 25%;
            left: 24%;
            display: table;
            width: 15px;
            height: 10.33333px;
            border: 3px solid #fff;
            border-top: 0;
            border-right: 0;
            content: ' ';
            opacity: 0; }

        .grade-c .checkbox input:after, .grade-c .checkbox-icon:after {
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            transform: rotate(0);
            top: 3px;
            left: 4px;
            border: none;
            color: #fff;
            content: '\2713';
            font-weight: bold;
            font-size: 20px; }

        .checkbox input:checked:after, input:checked + .checkbox-icon:after {
            opacity: 1; }

        .item-checkbox {
            padding-left: 58px; }
        .item-checkbox.active {
            box-shadow: none; }

        .item-checkbox .checkbox {
            position: absolute;
            top: 50%;
            right: 7.5px;
            left: 7.5px;
            z-index: 3;
            margin-top: -21px; }

        .item-checkbox.item-checkbox-right {
            padding-right: 58px;
            padding-left: 15px; }

        .item-checkbox-right .checkbox input, .item-checkbox-right .checkbox-icon {
            float: right; }

        .slideThree input[type=checkbox] {
            visibility: hidden;
        }

        .slideThree {
            width: 80px;
            height: 26px;
            background-image: -webkit-linear-gradient(top,#d9edf7 0,#b9def0 100%);
            background-image: linear-gradient(to bottom,#d9edf7 0,#b9def0 100%);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
            border-color: #9acfea;
            margin: 20px auto;

            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            position: relative;
        }

        .slideThree:after {
            content: 'OFF';
            font: 12px/26px Arial, sans-serif;
            color: #3a87ad;
            position: absolute;
            right: 10px;
            z-index: 0;
            font-weight: bold;
            text-shadow: 1px 1px 0px rgba(255,255,255,.15);
        }

        .slideThree:before {
            content: 'ON';
            font: 12px/26px Arial, sans-serif;
            color: #3a87ad;
            position: absolute;
            left: 10px;
            z-index: 0;
            font-weight: bold;
        }

        .slideThree label {
            display: block;
            width: 34px;
            height: 20px;

            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;

            -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -o-transition: all .4s ease;
            -ms-transition: all .4s ease;
            transition: all .4s ease;
            cursor: pointer;
            position: absolute;
            top: 3px;
            left: 3px;
            z-index: 1;

            background-color: #3a87ad;
            border-color: #9acfea;
        }

        .slideThree input[type=checkbox]:checked + label {
            left: 43px;
        }

        #daterange {
            background: #ffffff;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
            -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
            box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
            color: #323A3F;
            padding: 8px;
            line-height: 18px;
            cursor: pointer;
        }

        #getEmails:hover, #getEmails:focus, #openModal:hover, #openModal:focus, #validate:hover, #validate:focus, #orgButton:hover, #orgButton:focus, #emailButton:hover, #emailButton:focus {
            background-position: center !important;
        }

        #openModal {
            height: 100px;
            font-size: 20px;
            background-image: -webkit-linear-gradient(top,#d9edf7 0,#b9def0 100%) !important;
            background-image: linear-gradient(to bottom,#d9edf7 0,#b9def0 100%) !important;
            color: #3a87ad;
            background-repeat: repeat-x !important;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0) !important;
        }

        div.tagsinput span.tag {
            font-family: CoreSansM65Bold !important;
        }

        #tags_tag {
            font-family: CoreSansM65Bold !important;
            color: #3a87ad !important;
        }

    </style>
    {{else}}
    <style>
        #big-video-wrap{overflow:hidden;display:none;position:fixed;height:100%;width:100%;top:0;left:0;}
        #big-video-vid,#big-video-image{position:absolute;}
        #big-video-vid {top: 120px !important;}
        #big-video-control-container{position:fixed;bottom:20px;padding: 0 20px;width:100%;
          -webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;}
        #big-video-control{width:100%;height:16px;position:relative;}
        #big-video-control-middle{margin: 0 56px 0 24px;}
        #big-video-control-bar{width:100%;height:16px;position:relative;cursor:pointer;}
        #big-video-control-progress{position:absolute;top:7px;height:3px;width:0%;background:#fff;}
        #big-video-control-track{position:absolute;top:8px;height:1px;width:100%;background:#fff;}
        #big-video-control-bound-left{left:0;}
        #big-video-control-bound-right{right:-1px}
        #big-video-control-track .ui-slider-handle {opacity:0;}
        #big-video-control-playhead{left:30%;}
        #big-video-control-play{position:absolute;top:0;left:0;height:16px;width:16px;background-image:url('bigvideo.png');}
        #big-video-control-timer{position:absolute;top:1px;right:0;color:#fff;font-size:11px;}
        #big-video-control-playhead,#big-video-control-bound-left,#big-video-control-bound-right{position:absolute;top:0;height:16px;width:1px;background:#fff;}
        #big-video-control .ui-slider-handle{border-left:solid 1px #fff; width:16px;height:16px;position:absolute;top:-8px;}
        .transparent{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;}
        .vjs-big-play-button{display:none}
        #big-video-vid_html5_api {}
        .vjs-control-bar, .vjs-poster, .vjs-text-track-display, .vjs-loading-spinner, .vjs-big-play-button, .vjs-control-bar {
            display: none !important;
        }
    </style>

    {{/if}}

    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/jquery-1.11.min.js" data-cfasync='true'></script>
    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/bootstrap.min.js" data-cfasync='true'></script>
    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/ZeroClipboard.min.js"></script>

    {{#if loggedIn}}
    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/jquery.tagsinput.min.js" data-cfasync='true'></script>
    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/moment.min.js" data-cfasync='true'></script>
    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/async.js" data-cfasync='true'></script>
    <script src="https://d2jem67z10pety.cloudfront.net/ckeditor/ckeditor.js" data-cfasync='true'></script>
    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/daterangepicker.js" data-cfasync='true'></script>
    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/jquery.tablesorter.min.js" data-cfasync='true'></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    {{else}}
    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/modernizr.js" data-cfasync='true'></script>

    <script src="https://d2jem67z10pety.cloudfront.net/bigvideo/bower_components/jquery-ui/jquery-ui.min.js" data-cfasync='true'></script>
    <script src="//vjs.zencdn.net/4.3/video.js"></script>
    <script src="https://d2jem67z10pety.cloudfront.net/bigvideo/bower_components/BigVideo.js/lib/bigvideo.js" data-cfasync='true'></script>

    {{/if}}

    <script data-cfasync='true'>
        {{#if loggedIn}}
            $(window).load(function() {
                var socket = io.connect();

                socket.on('connect', function(){
                    socket.emit('auth');
                });

                var copyClient = new ZeroClipboard($(".copy-button"));

                $('#isPR').on('click touchstart', function (evt){
                    $('#isEmail').attr('checked', false);
                    if ($('#isPR').attr('checked')){
                        $('#forEmail').hide();
                        $('#nonEmail').show();
                        $('#isPR').attr('checked', false);
                        $('.slides').animate({
                            opacity: 1
                            }, 500, function() {
                        });
                        $('.prFade').animate({
                            opacity: 1
                            }, 500, function() {
                        });
                        $('.emailFade').animate({
                           opacity: 1
                           }, 500, function() {
                        });
                        $('.andFade').animate({
                            opacity: 1
                            }, 500, function() {
                        });
                    }
                    else {
                        $('#forEmail').hide();
                        $('#nonEmail').show();
                        $('#isPR').attr('checked', true);
                        $('.slides').animate({
                            opacity: .5
                            }, 500, function() {
                        });
                        $('.prFade').animate({
                            opacity: 1
                            }, 500, function() {
                        });
                        $('.emailFade').animate({
                           opacity: .5
                           }, 500, function() {
                        });
                        $('.andFade').animate({
                            opacity: .5
                            }, 500, function() {
                        });
                    }
                });

                $('#isEmail').on('click touchstart', function (evt){
                    $('#isPR').attr('checked', false);
                    if ($('#isEmail').attr('checked')){
                        $('#forEmail').hide();
                        $('#nonEmail').show();
                        $('#isEmail').attr('checked', false);
                        $('.slides').animate({
                            opacity: 1
                            }, 500, function() {
                        });
                        $('.prFade').animate({
                            opacity: 1
                            }, 500, function() {
                        });
                        $('.emailFade').animate({
                           opacity: 1
                           }, 500, function() {
                        });
                        $('.andFade').animate({
                            opacity: 1
                            }, 500, function() {
                        });
                    }
                    else {
                        $('#forEmail').show();
                        $('#nonEmail').hide();
                        $('#isEmail').attr('checked', true);
                        $('.slides').animate({
                            opacity: .5
                            }, 500, function() {
                        });
                        $('.prFade').animate({
                            opacity: .5
                            }, 500, function() {
                        });
                        $('.emailFade').animate({
                           opacity: 1
                           }, 500, function() {
                        });
                        $('.andFade').animate({
                            opacity: .5
                            }, 500, function() {
                        });
                    }
                });

                var startDate = moment().subtract('years', 1).format('YYYY/MM/DD');
                var endDate = moment().format('YYYY/MM/DD');

                function xmlToJson(xml) {

                    var obj = {};

                    if (xml.nodeType == 1) { // element
                        if (xml.attributes.length > 0) {
                        obj["@attributes"] = {};
                            for (var j = 0; j < xml.attributes.length; j++) {
                                var attribute = xml.attributes.item(j);
                                obj["@attributes"][attribute.nodeName] = attribute.nodeValue;
                            }
                        }
                    } else if (xml.nodeType == 3) { // text
                        obj = xml.nodeValue;
                    }

                    if (xml.hasChildNodes()) {
                        for(var i = 0; i < xml.childNodes.length; i++) {
                            var item = xml.childNodes.item(i);
                            var nodeName = item.nodeName;
                            if (typeof(obj[nodeName]) == "undefined") {
                                obj[nodeName] = xmlToJson(item);
                            } else {
                                if (typeof(obj[nodeName].push) == "undefined") {
                                    var old = obj[nodeName];
                                    obj[nodeName] = [];
                                    obj[nodeName].push(old);
                                }
                                obj[nodeName].push(xmlToJson(item));
                            }
                        }
                    }
                    return obj;
                };

                function roughSizeOfObject( object ) {

                    var objectList = [];
                    var stack = [ object ];
                    var bytes = 0;

                    while ( stack.length ) {
                        var value = stack.pop();

                        if ( typeof value === 'boolean' ) {
                            bytes += 4;
                        }
                        else if ( typeof value === 'string' ) {
                            bytes += value.length * 2;
                        }
                        else if ( typeof value === 'number' ) {
                            bytes += 8;
                        }
                        else if
                        (
                            typeof value === 'object'
                            && objectList.indexOf( value ) === -1
                        )
                        {
                            objectList.push( value );

                            for( var i in value ) {
                                stack.push( value[ i ] );
                            }
                        }
                    }
                    return bytes;
                }

                function submitBlast(onlyEmail){
                    $('#termSuccess').hide();
                    $('#noFoundError').hide();
                    $('#termError').hide();
                    $('#checkError').hide();

                    $('#status').html('Searching databases...');
                    $('#status').show();

                    var isAnd = $('#isAnd').prop('checked');

                    var titles = $('#titles').prop('checked');
                    var abstracts = $('#abstracts').prop('checked');
                    var affiliations = $('#affiliations').prop('checked');
                    var authors = $('#authors').prop('checked');
                    var textWords = $('#textWords').prop('checked');
                    var global = $('#global').prop('checked');
                    var searchTerms = $('#tags').val();
                    var searchTermsArray = searchTerms.split(',');
                    if (searchTermsArray && !searchTermsArray[0]){
                        searchTermsArray = [searchTerms];
                    }

                    if (searchTermsArray && searchTermsArray[0]){
                        $('#termError').hide();
                    }
                    else {
                        $('#termError').show();
                    }
                    if (searchTermsArray && searchTermsArray[0]){
                        if (titles || abstracts || affiliations || global || authors || textWords){
                            $('#checkError').hide();

                            if (searchTermsArray && searchTermsArray[0]){

                                var blastData = {};
                                var finalIdArray = [];

                                var unique = {};
                                searchTermsArray.forEach(function(item) {
                                    if (!unique[item.id]) {
                                        finalIdArray.push(item);
                                        unique[item.id] = item;
                                    }
                                });

                                $('#getEmails').html('<i class="fa fa-spinner fa-spin"></i>');

                                var finalIdArray = [];
                                var searchArray = [];
                                var andSearchString = '';
                                var searchLinker = 'OR';

                                if (isAnd){
                                    searchLinker = 'AND';
                                }

                                if (titles){
                                    searchArray.push('Title');
                                }
                                if (abstracts){
                                    searchArray.push('Title/Abstract');
                                }
                                if (affiliations){
                                    searchArray.push('Affiliation');
                                }
                                if (authors){
                                    searchArray.push('Author');
                                }
                                if (global){
                                    searchArray.push('Global');
                                }
                                if (textWords){
                                    searchArray.push('Text Word');
                                }

                                var andCounter = 0;
                                searchTermsArray.forEach(function(item){

                                    var searchString = '';

                                    if (searchArray.length > 1){
                                        if (global){
                                            searchString = item;
                                        }
                                        else {
                                            var counter = 0;
                                            searchArray.forEach(function(search){
                                                if (counter > 0){
                                                    searchString = '(' + searchString;
                                                }
                                                if (counter < (searchArray.length - 1)){
                                                    searchString += item + '[' + search + '])';
                                                }
                                                else {
                                                    searchString += item + '[' + search + ']';
                                                }
                                                counter += 1;
                                            });
                                        }
                                    }
                                    else {
                                        if (global){
                                            searchString = item;
                                        }
                                        else {
                                            searchString = item + '[' + searchArray[0] + ']';
                                        }
                                    }

                                    if (searchTermsArray.length > 1){
                                        if (andCounter == (searchTermsArray.length - 1)){
                                            searchString = '(' + searchString + ')';
                                        }
                                        else {
                                            searchString = '(' + searchString + ') ' + searchLinker;
                                        }
                                    }

                                    andSearchString += searchString;
                                    andCounter +=1;
                                });

                                $.get("https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi?db=pubmed&datetype=edat&retmax=100000&term=" + encodeURI(andSearchString) + '&mindate=' + encodeURI(startDate) + '&maxdate=' + encodeURI(endDate), function(xmlDoc){

                                    var jsonText = xmlToJson(xmlDoc);
                                    var idArray;
                                    if (jsonText && jsonText.eSearchResult && jsonText.eSearchResult[1] && jsonText.eSearchResult[1].IdList){
                                        idArray = jsonText.eSearchResult[1].IdList.Id;
                                    }

                                    if (idArray && idArray[0]){
                                        idArray.forEach(function(id){
                                            finalIdArray.push(id["#text"]);
                                        });
                                    }
                                    else if (idArray && idArray.Id){
                                        finalIdArray.push(idArray.Id["#text"]);
                                    }
                                    if (finalIdArray && finalIdArray[0]){

                                        $('#status').html(finalIdArray.length.toString() + ' results found. Getting fulltext...');
                                        blastData.idArray = finalIdArray;
                                        blastData.onlyEmail = onlyEmail;
                                        blastData.searchTerms = searchTermsArray;
                                        blastData.isAnd = isAnd;
                                        blastData.searchArray = searchArray;
                                        blastData.userId = '{{userId}}';
                                        blastData.startDate = startDate;
                                        blastData.endDate = endDate;

                                        $('#status').html('Generating leads...');
                                        $.ajax({
                                            type: "POST",
                                            url: "/submitBlast",
                                            data: blastData,
                                            dataType: "json",
                                            timeout: 1000000,
                                            success: function(data) {
                                                $('#status').hide();
                                                if (data.message){
                                                    $('#termSuccess').html('No additional leads. ' + data.papers + ' papers scanned.');
                                                    $('#termSuccess').show();
                                                }
                                                else if (Number(data.total) <= 0){
                                                    $('#termSuccess').html('All Leads Already Generated.');
                                                    $('#termSuccess').show();
                                                }
                                                if (data.success && Number(data.total) > 0){
                                                    if ($('#examineLast') && $('#examineLast').length){
                                                        $('#examineLast').show()
                                                    }
                                                    if (data.difference){
                                                        var amount = (Number(data.priceDifference)).toFixed();
                                                        var amountFormatted = '$' + Number(data.priceDifference).toFixed(2);

                                                        var bodyString = '\<div class="row"\>\<div class="col-md-12"\>\<div class="alert alert-info creditUpdate" style="text-align:center;"\>' + data.total + ' leads found costing ' + data.total + ' credits. You have ' + data.credits + ' and need ' + (data.leads.length - data.credits).toString() + ' more to generate the whole list. You may simply spend the credits you have on leads or buy more credits and generate.\</div\>\</div\>\</div\>\<div class="row"\>\<div class="col-md-12"\ style="overflow-y: auto;overflow-x:auto;max-height:430px;"\>\<table id="tabled" class="table table-striped leadTable tablesorter" style="text-align:center;"\>\<thead\>\<tr style="text-align:center;" class="centered"\>\<th\>Lead\</th\>\<th\>Country\</th\>\<th\>Affiliations\</th\>\<th\>\<label class="checkbox"\>\<input type="checkbox" id="selectAll" checked\>\</label\>\</span\>\</th\>\</tr\>\</thead\>\<tbody\>';

                                                        var fullArray = [];
                                                        var ided = fullArray;

                                                        data.leads.forEach(function(author){
                                                            if (!author.country){
                                                                author.country = ' ';
                                                            }
                                                            bodyString += '\<tr style="text-align:center;" class="centered"\>\<td\>' + author.firstname + ' ' + author.lastname + '\</td\>\<td\>' + author.country + '\</td\>\<td\>' + author.affiliation + '\</td\>\<td\>\<label class="checkbox"\>\<input type="checkbox" class="authorArray" id="' + author._id + '" checked\>\</label\>\</td\>\</tr\>';

                                                            fullArray.push(author._id);
                                                        });

                                                        bodyString += '\<tbody\>\</table\>\</div\>\</div\>';

                                                        $('.modal-body').html(bodyString);

                                                        var finalString = '\<button type="button" class="btn btn-default reset" data-dismiss="modal"\>Reset\<\/button\>';
                                                        if (ided.length <= data.credits){
                                                            finalString += '\<button type="button" class="btn btn-primary spendCredits" data-dismiss="modal"\>Buy ' + data.credits + ' Leads\<\/button\>';
                                                        }
                                                        else {
                                                            finalString += '\<button type="button" class="btn btn-primary spendCredits" style="display:none;" data-dismiss="modal"\>Buy ' + data.credits + ' Leads\<\/button\>';
                                                        }
                                                        finalString += '\<button type="button" class="btn btn-primary stripeButton" data-dismiss="modal"\>Buy ' + data.difference + ' More Leads\<\/button\>';
                                                        $('.modal-footer').html(finalString);

                                                        $('#tabled').tablesorter({
                                                             headers: {
                                                                 3: {
                                                                     sorter: false
                                                                 }
                                                             }
                                                         });

                                                        $('.authorArray').change(function(evt){
                                                            if (this.checked) {
                                                                if (ided.indexOf(evt.target.id) < 0){
                                                                    ided.push(evt.target.id);
                                                                }
                                                            }
                                                            else {
                                                                if (ided.indexOf(evt.target.id) > -1){
                                                                    ided.splice(ided.indexOf(evt.target.id), 1);
                                                                }
                                                            }

                                                            if (ided.length == 0){
                                                                $('.spendCredits').hide();
                                                                $('.stripeButton').hide();
                                                            }
                                                            else if (ided.length <= data.credits){
                                                                $('.stripeButton').hide();
                                                                $('.spendCredits').show();
                                                                $('.creditUpdate').html(data.total + ' leads found costing ' + data.total + ' credits.');
                                                                $('.spendCredits').html('Buy ' + ided.length  + ' Leads');
                                                            }
                                                            else {
                                                                $('.stripeButton').show();
                                                                $('.spendCredits').hide();
                                                                $('.stripeButton').html('Buy ' + (ided.length - data.credits).toString()  + ' More Leads');
                                                                $('.creditUpdate').html(data.total + ' leads found costing ' + data.total + ' credits. You have ' + data.credits + ' and need ' + (ided.length - data.credits).toString() + ' more to generate the whole list. You may simply spend the credits you have on leads or buy more credits.');
                                                            }
                                                        });

                                                        $('#selectAll').change(function(event) {
                                                            if (this.checked) {
                                                                $('.authorArray').each(function() {
                                                                    this.checked = true;
                                                                    $(this).change();
                                                                });
                                                            }
                                                            else {
                                                                $('.authorArray').each(function() {
                                                                    this.checked = false;
                                                                    $(this).change();
                                                                });
                                                            }
                                                        });

                                                        $('#leadModal').modal('show');
                                                        if ($('.reset') && $('.reset').length){
                                                            $('.reset').on('click touchstart', function (evt){
                                                                evt.preventDefault();

                                                                var tagsArray = [$('#tags').val()];
                                                                if (tagsArray && tagsArray[0]){
                                                                    tagsArray.forEach(function(ta){
                                                                        $('#tags').removeTag(ta);
                                                                    });
                                                                }
                                                            });
                                                        }
                                                        if ($('.spendCredits') && $('.spendCredits')[0]){
                                                            $('.spendCredits').on('click touchstart', function (evt){
                                                                evt.preventDefault();

                                                                var tagsArray = [$('#tags').val()];
                                                                if (tagsArray && tagsArray[0]){
                                                                    tagsArray.forEach(function(ta){
                                                                        $('#tags').removeTag(ta);
                                                                    });
                                                                }

                                                                $.post( "/activateBlast", {id : data.identifier, ids : ided}, function(data) {
                                                                    if (data.leads){
                                                                        window.location = '/emailBlast/' + data.identifier.toString() + '?postBlast=true';
                                                                    }
                                                                });
                                                            });
                                                        }
                                                        if ($('.stripeButton') && $('.stripeButton')[0]){
                                                            var handler = StripeCheckout.configure({
                                                                key: '{{stripeKey}}',
                                                                image: '/images/LeadDynamoStripe.png',
                                                                token: function(token, args) {
                                                                    var blastData2 = {};
                                                                    blastData2.identifier = data.identifier;
                                                                    blastData2.stripeToken = token.id;
                                                                    blastData2.amount = amount;
                                                                    blastData2.userId = '{{userId}}';
                                                                    blastData2.ids = ided;
                                                                    $.ajax({
                                                                        type: "POST",
                                                                        url: "/stripeBlast",
                                                                        data: blastData2,
                                                                        dataType: "json",
                                                                        timeout: 1000000,
                                                                        success: function(data2) {
                                                                            if (data2.identifier){
                                                                                window.location = '/emailBlast/' + data2.identifier.toString() + '?postBlast=true';
                                                                            }
                                                                        }
                                                                    });
                                                                }
                                                            });

                                                            $('.stripeButton').on('click touchstart', function (evt){
                                                                var price = (((Number({{price}}) * (ided.length - data.credits)) * 100) + Number({{price}})).toFixed();
                                                                var priceFormatted = '$' + (Number({{price}}) * (ided.length - Number(data.credits))).toFixed(2);
                                                                handler.open({
                                                                    name: 'LeadDynamo Leads',
                                                                    description: (ided.length - data.credits).toString() + ' more leads (' + priceFormatted + ')',
                                                                    amount: price
                                                                });
                                                                evt.preventDefault();
                                                            });
                                                        }
                                                    }
                                                    else {
                                                        var bodyString = '\<div class="row"\>\<div class="col-md-12"\>\<div class="alert alert-info"\ style="text-align:center;">' + data.total + ' leads found costing ' + data.total + ' credits.\</div\>\</div\>\</div\>\<div class="row"\>\<div class="col-md-12" style="overflow-y: auto;overflow-x:auto;max-height:430px;"\>\<table id="tabled" class="table table-striped leadTable tablesorter" style="text-align:center;"\>\<thead\>\<tr style="text-align:center;" class="centered"\>\<th\>Lead\</th\>\<th\>Country\</th\>\<th\>Affiliations\</th\>\<th\>\<label class="checkbox"\>\<input type="checkbox" id="selectAll" checked\>\</label\>\</th\>\</tr\>\</thead\>\<tbody\>';

                                                        var fullArray = [];
                                                        var ided = fullArray;

                                                        data.leads.forEach(function(author){
                                                            if (!author.country){
                                                                author.country = ' ';
                                                            }
                                                            bodyString += '\<tr style="text-align:center;" class="centered"\>\<td\>' + author.firstname + ' ' + author.lastname + '\</td\>\<td\>' + author.country + '\</td\>\<td\>' + author.affiliation + '\</td\>\<td\>\<label class="checkbox"\>\<input type="checkbox" class="authorArray" id="' + author._id + '" checked\>\</label\>\</td\>\</tr\>';
                                                            fullArray.push(author._id);
                                                        });

                                                        bodyString += '\</tbody\>\</table\>\</div\>\</div\>';

                                                        $('.modal-body').html(bodyString);

                                                        $('.modal-footer').html('\<button type="button" class="btn btn-default reset" data-dismiss="modal"\>Reset\<\/button\>\<button type="button" class="btn btn-primary spendCredits" data-dismiss="modal">Buy ' + ided.length + ' Leads\<\/button\>');

                                                        $('#tabled').tablesorter({
                                                             headers: {
                                                                 3: {
                                                                     sorter: false
                                                                 }
                                                             }
                                                         });

                                                        $('.authorArray').change(function(evt){
                                                            if (this.checked) {
                                                                if (ided.indexOf(evt.target.id) < 0){
                                                                    ided.push(evt.target.id);
                                                                }
                                                            }
                                                            else {
                                                                if (ided.indexOf(evt.target.id) > -1){
                                                                    ided.splice(ided.indexOf(evt.target.id), 1);
                                                                }
                                                            }
                                                            if (ided.length == 0){
                                                                $('.spendCredits').hide();
                                                            }
                                                            else if (ided.length > data.credits){
                                                                $('.spendCredits').hide();
                                                            }
                                                            else {
                                                                $('.spendCredits').show();
                                                                $('.spendCredits').html('Buy ' + ided.length  + ' Leads');
                                                            }
                                                        });

                                                        $('#selectAll').change(function(event) {
                                                            if (this.checked) {
                                                                $('.authorArray').each(function() {
                                                                    this.checked = true;
                                                                    $(this).change();
                                                                });
                                                            }
                                                            else {
                                                                $('.authorArray').each(function() {
                                                                    this.checked = false;
                                                                    $(this).change();
                                                                });
                                                            }
                                                        });

                                                        $('#leadModal').modal('show');
                                                        if ($('.reset') && $('.reset').length){
                                                            $('.reset').on('click touchstart', function (evt){
                                                                evt.preventDefault();

                                                                var tagsArray = [$('#tags').val()];
                                                                if (tagsArray && tagsArray[0]){
                                                                    tagsArray.forEach(function(ta){
                                                                        $('#tags').removeTag(ta);
                                                                    });
                                                                }
                                                            });
                                                        }
                                                        if ($('.spendCredits') && $('.spendCredits')[0]){
                                                            $('.spendCredits').on('click touchstart', function (evt){
                                                                evt.preventDefault();

                                                                var tagsArray = [$('#tags').val()];
                                                                if (tagsArray && tagsArray[0]){
                                                                    tagsArray.forEach(function(ta){
                                                                        $('#tags').removeTag(ta);
                                                                    });
                                                                }

                                                                $.post( "/activateBlast", {id : data.identifier, ids : ided}, function(data) {
                                                                    if (data.leads){
                                                                        window.location = '/emailBlast/' + data.identifier.toString() + '?postBlast=true';
                                                                    }
                                                                });
                                                            });
                                                        }
                                                    }
                                                }
                                                $('#getEmails').html('Generate Leads');
                                            }
                                        });
                                    }
                                    else {
                                        $('#status').hide();
                                        $('#noFoundError').show();
                                        $('#getEmails').html('Generate Leads');
                                    }
                                });
                            }
                        }
                    }
                    else {

                    }
                }
                olark('api.visitor.updateEmailAddress', {emailAddress: '{{email}}'});
                olark('api.visitor.updateFullName', {fullName: '{{firstname}} {{lastname}}'});
                $('#tags').tagsInput({
                    'height':'150px',
                    'width':'100%',
                    'interactive':true,
                    'defaultText':'add a search term and press enter',
                    'removeWithBackspace' : true,
                    'minChars' : 0,
                    'placeholderColor' : '#666666'
                });
                $('#getEmailsForm').submit(function (evt){
                    evt.preventDefault();
                    submitBlast(true);
                });
                var currentDate = moment().format('YYYY-MM-DD');

                $('#daterange').daterangepicker(
                    {
                      ranges: {
                         'Last Month': [moment().subtract('month', 1), moment()],
                         'Last Three Months': [moment().subtract('month', 3), moment()],
                         'Last Six Months': [moment().subtract('month', 6), moment()],
                         'Last Year': [moment().subtract('year', 1), moment()],
                         'Last Five Years': [moment().subtract('year', 5), moment()],
                         'Last Ten Years': [moment().subtract('year', 10), moment()]
                      },
                      startDate: moment().subtract('years', 1),
                      format: 'YYYY-MM-DD',
                      endDate: currentDate,
                      minDate: moment().subtract('years', 15),
                      maxDate: currentDate
                    },
                    function(start, end) {
                        startDate = start.format('YYYY/MM/DD');
                        endDate = end.format('YYYY/MM/DD');
                        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                    }
                );
                $('#daterange span').html(moment().subtract('years', 1).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

                {{#if flashSearch}}
                    {{#if isAnd}}
                        $('#isAnd').prop('checked', true);
                    {{/if}}

                    {{#unless titles}}
                        $('#titles').prop('checked', false);
                    {{/unless}}

                    {{#unless abstracts}}
                        $('#abstracts').prop('checked', false);
                    {{/unless}}

                    {{#unless affiliations}}
                        $('#affiliations').prop('checked', false);
                    {{/unless}}

                    {{#unless authors}}
                        $('#authors').prop('checked', false);
                    {{/unless}}

                    {{#unless textWords}}
                        $('#textWords').prop('checked', false);
                    {{/unless}}

                    {{#unless global}}
                        $('#global').prop('checked', false);
                    {{/unless}}

                    $('#tags').importTags('{{searchTerms}}');

                    submitBlast(true);
                {{/if}}

                $('#formContainer').show();

                if ($('.tooled') && $('.tooled').length){
                    $('.tooled').tooltip();
                }
                $('.dissered').hide();
                $('.app').fadeIn();
                $('#footer').fadeIn();
                var orgSelected = true;

                $('#orgButton').on('click touchstart', function (evt){
                    evt.preventDefault();
                    $('#orgButton').addClass('active');
                    $('#emailButton').removeClass('active');
                    $('#inst').show();
                    $('#end').hide();
                    orgSelected = true;
                });

                $('#emailButton').on('click touchstart', function (evt){
                    evt.preventDefault();
                    $('#orgButton').removeClass('active');
                    $('#emailButton').addClass('active');
                    $('#inst').hide();
                    $('#end').show();
                    orgSelected = false;
                });

                function validateSubmit(){
                    var packet = {};
                    packet.fullname = $('#name').val();
                    if (packet.fullname){
                        packet.fullname = packet.fullname.trim();
                    }
                    if (orgSelected){
                        packet.organization = $('#organization').val();
                        if (packet.organization){
                            packet.organization = packet.organization.trim();
                        }
                    }
                    else {
                        packet.ending = $('#ending').val();
                        if (packet.ending){
                            packet.ending = packet.ending.trim();
                        }
                    }
                    $('#validate').html('<i class="fa fa-spinner fa-spin"></i>');
                    $.post('/validation', packet, function(data){
                        var bodyString = '';
                        $('#validate').html('Generate Email');
                        if (data.error){
                            bodyString += data.error;
                            if (data.searches){
                                bodyString += ' ' + data.searches + ' generated validations left. <a href="/register">Register</a> for unlimited searches.';
                            }
                        }
                        if (data.email){
                            bodyString += '<div class="input-group input-group-lg"><span class="input-group-addon copy-button" style="cursor:pointer;cursor:hand;" data-toggle="popover" data-placement="top" data-content="Copied to clipboard." data-original-title="" title=""><i class="fa fa-clipboard" style="cursor:pointer;cursor:hand;"></i></span><div class="form-control" style="text-align: center;">' + data.email + '</div><span class="input-group-addon" style="background-color: rgb(253,253,253);padding-bottom: 8px;color: #5bb75b !important;" data-toggle="popover" data-placement="top" data-content="Copied to clipboard." data-original-title="" title=""><i class="fa fa-check-circle" style="font-size: 18px;"></i></span></div>';
                            if (data.searches){
                                bodyString += data.searches + ' generated validations left. <a href="/register">Register</a> for unlimited searches.';
                            }
                        }
                        if (data.errored){
                            bodyString += data.errored + ' <a href="/register">Register</a> for unlimited searches.';
                        }
                        $('.emailBody').html(bodyString);

                        if (data.email){
                            var copyClient = new ZeroClipboard($(".copy-button"));
                            copyClient.on( "copy", function (event) {
                                var clipboard = event.clipboardData;
                                clipboard.setData( "text/plain", data.email );
                            });
                            $('.copy-button').popover();
                            $('.copy-button').click(function(e) {
                                setTimeout(function(){
                                    $('.copy-button').popover('hide')
                                },1000);
                            });
                        }

                        $('#emailModal').modal('show');
                        $('#name').val('');
                        $('#organization').val('');
                        $('#ending').val('');
                    });
                }

                $('#validate').on('click touchstart', function (evt){
                    evt.preventDefault();
                    validateSubmit();
                });

                $('#organization').keypress(function (evt) {
                    if (evt.which == 13) {
                        evt.preventDefault();
                        validateSubmit();
                    }
                });

                $('#ending').keypress(function (evt) {
                    if (evt.which == 13) {
                        evt.preventDefault();
                        validateSubmit();
                    }
                });

            });
        {{else}}
            $(window).load(function() {
                $('#dynoVideo').html('<video id="example_video_1" width="500" height="281" style="cursor:hand;cursor:pointer;" class="video-js vjs-default-skin" controls preload="auto" poster="https://d2jem67z10pety.cloudfront.net/images/LeadDynamoHeader.png"data-setup=\'{ "controls": true, "autoplay": false, "preload": "auto" }\'><source src="https://d2jem67z10pety.cloudfront.net/video/LeadDynamoWhatIs.mp4" type="video/mp4" /></video>');
                $('#demoVideo').html('<video id="example_video_2" width="500" height="281" style="cursor:hand;cursor:pointer;" class="video-js vjs-default-skin" controls preload="auto" poster="https://d2jem67z10pety.cloudfront.net/images/LeadDynamoHeader.png"data-setup=\'{ "controls": true, "autoplay": false, "preload": "auto" }\'><source src="https://d2jem67z10pety.cloudfront.net/video/LDLongerCompressed.mp4" type="video/mp4" /></video>');

                $(function() {
                	$(window).resize(function() {

                        var $allVideos = $("video, #example_video_1, #example_video_1_flash_api"),
                            $fluidEl = $("#dynoVideo");

                		var newWidth = $fluidEl.width();

                		$allVideos.each(function() {

                			var $el = $(this);
                			$el
                				.width(newWidth)
                				.height(Math.floor(newWidth * 0.562));

                		});

                	}).resize();
                    $(window).resize(function() {

                        var $allVideos = $("video, #example_video_2, #example_video_2_flash_api"),
                            $fluidEl = $("#demoVideo");

                        var newWidth = $fluidEl.width();

                        $allVideos.each(function() {

                            var $el = $(this);
                            $el
                                .width(newWidth)
                                .height(Math.floor(newWidth * 0.562));

                        });

                    }).resize();
                });
                var playered = videojs('example_video_1');
                var playered2 = videojs('example_video_2');

                $('#demo').on('click touchstart', function (evt){
                    evt.preventDefault();
                    $('#demo').addClass('active');
                    $('#whatIs').removeClass('active');
                    $('#finder').removeClass('active');
                    $('#whatIsRow').hide();
                    $('#finderRow').hide();
                    $('#demoRow').show();
                    var $allVideos = $("video, #example_video_2, #example_video_2_flash_api"),
                        $fluidEl = $("#demoVideo");
                    var newWidth = $fluidEl.width();
                    $allVideos.each(function() {

                        var $el = $(this);
                        $el
                            .width(newWidth)
                            .height(Math.floor(newWidth * 0.562));

                    });
                    videojs("example_video_2").ready(function(){
                      var myPlayer = this;

                      myPlayer.play();
                    });
                    playered.pause();
                    playered.currentTime(0);
                });
                $('#finder').on('click touchstart', function (evt){
                    evt.preventDefault();
                    $('#demo').removeClass('active');
                    $('#whatIs').removeClass('active');
                    $('#finder').addClass('active');
                    $('#whatIsRow').hide();
                    $('#finderRow').show();
                    $('#demoRow').hide();
                    playered.pause();
                    playered.currentTime(0);
                    playered2.pause();
                    playered2.currentTime(0);
                });
                $('#whatIs').on('click touchstart', function (evt){
                    evt.preventDefault();
                    $('#demo').removeClass('active');
                    $('#whatIs').addClass('active');
                    $('#finder').removeClass('active');
                    $('#whatIsRow').show();
                    $('#finderRow').hide();
                    $('#demoRow').hide();
                    var $allVideos = $("video, #example_video_1, #example_video_1_flash_api"),
                        $fluidEl = $("#dynoVideo");
                	var newWidth = $fluidEl.width();
                	$allVideos.each(function() {

                        var $el = $(this);
                        $el
                            .width(newWidth)
                            .height(Math.floor(newWidth * 0.562));

                    });
                    videojs("example_video_1").ready(function(){
                      var myPlayer = this;

                      myPlayer.play();
                    });
                    playered2.pause();
                    playered2.currentTime(0);
                });

                $('#registerForm').submit(function (evt){
                    evt.preventDefault();
                    $.post('/register', {email : $('#email').val(), password : $('#password').val()}, function(data){
                        window.location = '/';
                    });
                });

                var orgSelected = true;

                $('#orgButton').on('click touchstart', function (evt){
                    evt.preventDefault();
                    $('#orgButton').addClass('active');
                    $('#emailButton').removeClass('active');
                    $('#inst').show();
                    $('#end').hide();
                    orgSelected = true;
                });

                $('#emailButton').on('click touchstart', function (evt){
                    evt.preventDefault();
                    $('#orgButton').removeClass('active');
                    $('#emailButton').addClass('active');
                    $('#inst').hide();
                    $('#end').show();
                    orgSelected = false;
                });

                $('#validate').submit(function (evt){
                    evt.preventDefault();
                    var packet = {};
                    packet.fullname = $('#name').val();
                    if (packet.fullname){
                        packet.fullname = packet.fullname.trim();
                    }
                    if (orgSelected){
                        packet.organization = $('#organization').val();
                        if (packet.organization){
                            packet.organization = packet.organization.trim();
                        }
                    }
                    else {
                        packet.ending = $('#ending').val();
                        if (packet.ending){
                            packet.ending = packet.ending.trim();
                        }
                    }
                    $('#genEmail').html('<i class="fa fa-spinner fa-spin"></i>');
                    $.post('/validation', packet, function(data){
                        var bodyString = '';
                        $('#genEmail').html('Generate Email');
                        if (data.error){
                            bodyString += data.error;
                            if (data.searches){
                                bodyString += ' ' + data.searches + ' generated validations left. <a href="/register">Register</a> for unlimited searches.';
                            }
                        }
                        if (data.email){
                            bodyString += '<div class="input-group input-group-lg"><span class="input-group-addon copy-button" style="cursor:pointer;cursor:hand;" data-toggle="popover" data-placement="top" data-content="Copied to clipboard." data-original-title="" title=""><i class="fa fa-clipboard" style="cursor:pointer;cursor:hand;"></i></span><div class="form-control" style="text-align: center;">' + data.email + '</div><span class="input-group-addon" style="background-color: rgb(253,253,253);padding-bottom: 8px;color: #5bb75b !important;" data-toggle="popover" data-placement="top" data-content="Copied to clipboard." data-original-title="" title=""><i class="fa fa-check-circle" style="font-size: 18px;"></i></span></div><br>';
                            if (data.searches){
                                bodyString += data.searches + ' generated validations left. <a href="/register">Register</a> for unlimited searches.';
                            }
                        }
                        if (data.errored){
                            bodyString += data.errored + ' <a href="/register">Register</a> for unlimited searches.';
                        }
                        $('.emailBody').html(bodyString);

                        if (data.email){
                            var copyClient = new ZeroClipboard($(".copy-button"));
                            copyClient.on( "copy", function (event) {
                                var clipboard = event.clipboardData;
                                clipboard.setData( "text/plain", data.email );
                            });
                            $('.copy-button').popover();
                            $('.copy-button').click(function(e) {
                                setTimeout(function(){
                                    $('.copy-button').popover('hide')
                                },1000);
                            });
                        }

                        $('#emailModal').modal('show');
                        $('#name').val('');
                        $('#organization').val('');
                        $('#ending').val('');
                    });
                });

                if ($('.tooled') && $('.tooled').length){
                    $('.tooled').tooltip();
                }
                $('.dissered').hide();
                $('.app').fadeIn();
                $('#footer').fadeIn();
            });
        {{/if}}
    </script>
    {{#unless loggedIn}}
    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/bootstrap.min.js" data-cfasync='true'></script>
    {{/unless}}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51607591-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body style="margin-bottom: 30px;">
{{#if loggedIn}}
<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('1519-278-10-5863');/*]]>*/</script><noscript><a href="https://www.olark.com/site/1519-278-10-5863/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->
{{/if}}
    <div class="app" style="margin-right: 0px;margin-left: 0px;background-color: rgb(253, 253, 253);height: 100%;display:none;">
    {{#if loggedIn}}
    <nav class="navbar navbar-default" role="navigation" style="z-index: 5;margin-bottom:0px;">
    {{else}}
    <nav class="navbar navbar-default" role="navigation" style="z-index: 5;">
    {{/if}}
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand active" href="/"><img style="width:70px;margin-top:-7px;" src="https://d2jem67z10pety.cloudfront.net/images/LeadDynamoHeader.png" alt="Lead Dynamo"></img></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {{#unless loggedIn}}
                <ul class="nav navbar-nav">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
                {{else}}
                <ul class="nav navbar-nav">
                    <li><a href="/leads">Leads</a></li>
                </ul>
                {{/unless}}
                {{#if loggedIn}}
                <ul class="nav navbar-nav navbar-right" style="margin-right: -30px;">
                    {{#unless linkedin}}
                    <li class="tooled" data-toggle="tooltip" data-placement="bottom" title="Status update for 25 free credits"><a href="/linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                    {{/unless}}
                    {{#unless twitter}}
                    <li class="tooled" data-toggle="tooltip" data-placement="bottom" title="Tweet for 25 free credits"><a href="/twitter"><i class="fa fa-twitter-square"></i></a></li>
                    {{/unless}}
                    <li><a href="/credits" id="credits">{{credits}} Credits</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{email}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="/logout">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
                {{/if}}
            </div>
        </div>
    </nav>

    {{#if loggedIn}}

        {{#if linked}}
            <div class="row" style="text-align:center;">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
            <div class="alert alert-success">
            LinkedIn status updated! +25 credits
            </div>
            </div>
            <div class="col-md-3">

            </div>
            </div>
        {{/if}}

        {{#if tweeted}}
            <div class="row" style="text-align:center;">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
            <div class="alert alert-success">
            Tweeted! +25 credits
            </div>
            </div>
            <div class="col-md-3">

            </div>
            </div>
        {{/if}}

        <div class="row" id="formContainer" style="height: 100%;display:none;">
            <div class="col-md-2" style="text-align:center;">

            </div>
            <div class="col-md-8" id="blastFormContainer" style="text-align:center;height: 100%;">

            <form class="form-horizontal" id="getEmailsForm" method="post" action="/">
                <div class="col-sm-12 alert alert-success" id="status" style="display:none;margin-bottom:20px;">

                </div>
                <div class="col-sm-12 alert alert-success" id="termSuccess" style="display:none;margin-bottom:20px;">
                    All Leads Already Generated
                </div>
                <div class="col-sm-12 alert alert-warning" id="noFoundError" style="display:none;margin-bottom:20px;">
                    No papers found
                </div>
                <div class="col-sm-12 alert alert-warning" id="termError" style="display:none;margin-bottom:20px;">
                    Must include at least one search term
                </div>
                <div class="col-sm-12 alert alert-warning" id="checkError" style="display:none;margin-bottom:20px;">
                    Must check at least one search criterion
                </div>

                <hr style="border-top: dotted 1px;border-color: -webkit-linear-gradient(top,#d9edf7 0,#b9def0 100%) !important; border-color: linear-gradient(to bottom,#d9edf7 0,#b9def0 100%) !important; color: #3a87ad;">

                <div class="col-sm-6" style="text-align:center;">
                    <h2 class="leadgen" style="margin-top: 0px;float:left; color: #3a87ad;">Lead Generator</h2>
                </div>

                <div class="col-sm-6" style="z-index: 2;">
                    <div id="daterange" class="pull-right" style="z-index: 2;margin-top: -5px;margin-bottom:10px; color: #3a87ad;-webkit-box-shadow: 0 1px 3px rgba(58,135,173,.25), inset 0 -1px 0 rgba(58,135,173,.1);-moz-box-shadow: 0 1px 3px rgba(58,135,173,.25), inset 0 -1px 0 rgba(58,135,173,.1);box-shadow: 0 1px 3px rgba(58,135,173,.25), inset 0 -1px 0 rgba(58,135,173,.1);">
                        <i class="fa fa-calendar fa-lg"></i>
                        <span></span> <b class="caret"></b>
                    </div>
                </div>

                <div class="col-sm-12" style="margin-bottom:46px;margin-top: -30px;z-index: 1;">
                    <hr style="margin-top:30px;border-top: dotted 1px;border-color: -webkit-linear-gradient(top,#d9edf7 0,#b9def0 100%) !important; border-color: linear-gradient(to bottom,#d9edf7 0,#b9def0 100%) !important; color: #3a87ad;">

                    <div class="col-sm-6 andFade">
                    <input type="checkbox" id="isAnd" class="toggle" value="AND search">
                    <label class="toggle-label tooled tk" style="color: #3a87ad;" data-toggle="tooltip" data-placement="top" title="Type of search" for="isAnd">
                        <span class="switch hander"></span>
                    </label>
                    </div>

                    <div class="col-sm-4 prFade" style="display:none;">
                    <input type="checkbox" id="isPR" class="toggle" value="PR search">
                    <label class="toggle-label tooled tk2" style="color: #3a87ad;" data-toggle="tooltip" data-placement="top" title="Press release search" for="isPR">
                        <span class="switch hander"></span>
                    </label>
                    </div>

                    <div class="col-sm-6 emailFade">
                    <input type="checkbox" id="isEmail" class="toggle" value="Email search">
                    <label class="toggle-label tooled tk3" style="color: #3a87ad;" data-toggle="tooltip" data-placement="top" title="Email generation & validation" for="isEmail">
                        <span class="switch hander"></span>
                    </label>
                    </div>

                </div>
                <div class="slides">
                <div class="col-sm-2" style="margin-bottom:20px;">
                    <div class="slideThree tooled" data-toggle="tooltip" data-placement="top" title="Search titles">
                        <input type="checkbox" value="None" id="titles" name="check" checked>
                        <label for="titles"></label>
                    </div>
                </div>
                <div class="col-sm-2" style="margin-bottom:20px;">
                    <div class="slideThree tooled" data-toggle="tooltip" data-placement="top" title="Search abstracts">
                        <input type="checkbox" value="None" id="abstracts" name="check" checked>
                        <label for="abstracts"></label>
                    </div>
                </div>
                <div class="col-sm-2" style="margin-bottom:20px;">
                    <div class="slideThree tooled" data-toggle="tooltip" data-placement="top" title="Search region & affiliations">
                        <input type="checkbox" value="None" id="affiliations" name="check" checked>
                        <label for="affiliations"></label>
                    </div>
                </div>
                <div class="col-sm-2" style="margin-bottom:20px;">
                    <div class="slideThree tooled" data-toggle="tooltip" data-placement="top" title="Search authors">
                        <input type="checkbox" value="None" id="authors" name="check" checked>
                        <label for="authors"></label>
                    </div>
                </div>
                <div class="col-sm-2" style="margin-bottom:20px;">
                    <div class="slideThree tooled" data-toggle="tooltip" data-placement="top" title="Search textwords">
                        <input type="checkbox" value="None" id="textWords" name="check" checked>
                        <label for="textWords"></label>
                    </div>
                </div>
                <div class="col-sm-2" style="margin-bottom:20px;">
                    <div class="slideThree tooled" data-toggle="tooltip" data-placement="top" title="Search global">
                        <input type="checkbox" value="None" id="global" name="check" checked>
                        <label for="global"></label>
                    </div>
                </div>
                </div>
                <div id="forEmail" style="display:none;">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" style="text-align: center;" class="form-control" id="name" placeholder="Name">
                        </div>
                    </div>

                    <div class="btn-group" style="width:100%;margin-bottom:15px;">
                      <button type="button" class="btn btn-default active" id="orgButton" style="width:50%;background-image: -webkit-linear-gradient(top,#d9edf7 0,#b9def0 100%) !important;background-image: linear-gradient(to bottom,#d9edf7 0,#b9def0 100%) !important;color:#3a87ad;background-repeat: repeat-x !important;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0) !important;">Organization</button>
                      <button type="button" class="btn btn-default" id="emailButton" style="width:50%;background-image: -webkit-linear-gradient(top,#d9edf7 0,#b9def0 100%) !important;background-image: linear-gradient(to bottom,#d9edf7 0,#b9def0 100%) !important;color:#3a87ad;background-repeat: repeat-x !important;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0) !important;">Email Ending</button>
                    </div>

                    <div class="form-group" id="inst">
                        <div class="col-sm-12">
                        <input type="text" style="text-align: center;color: #3a87ad;" class="form-control" id="organization" placeholder="Organization">
                        </div>
                    </div>
                    <div class="form-group" id="end" style="display:none;">
                        <div class="col-sm-12">
                        <input type="text" style="text-align: center;color: #3a87ad;" class="form-control" id="ending" placeholder="Email Ending (e.g. leaddynamo.info)">
                        </div>
                    </div>
                    <hr style="margin-top: 16px;margin-bottom: 16px;">
                    <div class="form-group">
                    <div class="col-sm-12">
                    <button id="validate" class="btn btn-default btn-block" style="height: 100px;font-size:20px;background-image: -webkit-linear-gradient(top,#d9edf7 0,#b9def0 100%) !important;background-image: linear-gradient(to bottom,#d9edf7 0,#b9def0 100%) !important;color:#3a87ad;background-repeat: repeat-x !important;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0) !important;">Generate Email</button>
                    </div>
                    </div>
                </div>
                <div id="nonEmail">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input name="tags" id="tags"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button id="getEmails" type="submit" class="btn btn-default btn-block" style="height: 100px;font-size:20px;background-image: -webkit-linear-gradient(top,#d9edf7 0,#b9def0 100%) !important;background-image: linear-gradient(to bottom,#d9edf7 0,#b9def0 100%) !important;color:#3a87ad;background-repeat: repeat-x !important;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0) !important;">Generate Leads</button>
                        </div>
                    </div>
                </div>
            </form>

            </div>
            <div class="col-md-2" style="text-align:center;">

            </div>
        </div>

    <div class="row" id="examineLast" style="display:none;">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <button id="openModal" class="btn btn-default btn-block" data-toggle="modal" data-target="#leadModal">Examine Last Search</button>
        </div>
        <div class="col-md-2">
        </div>
    </div>

    <div class="modal fade" id="leadModal">
        <div class="modal-dialog modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Generate Leads</h4>
                </div>
                <div class="modal-body" style="overflow:auto;">

                </div>
                <div class="modal-footer" style="margin-top:0px;">

                </div>
            </div>
        </div>
    </div>

    {{else}}

    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="btn-group" style="width:100%;margin-bottom:15px;z-index: 5;">
                <button type="button" class="btn btn-default active" id="finder" style="width:33%;">Email Finder</button>
                <button type="button" class="btn btn-default" id="whatIs" style="width:34%;">How LeadDynamo Works <i class="fa fa-volume-up"></i></button>
                <button type="button" class="btn btn-default" id="demo" style="width:33%;">Demo</button>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>

    <div class="row" id="whatIsRow" style="display:none;">
        <div class="col-md-2">
        </div>
        <div class="col-md-8" id="dynoVideo">
        </div>
        <div class="col-md-2">
        </div>
    </div>

    <div class="row" id="finderRow">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <h1 class="dissered">Lead Dynamo - lead generation made easy</h1>
            <p class="dissered">The average sales associate spends ~10 hours a week generating leads. With LeadDynamo this can be reduced to minutes. LeadDynamo automates the lead generation process so you can focus on the creativity and quality of your messaging and most importantly, on closing sales. Simply enter a list of keywords, design a personalized message template and LeadDynamo will do the rest. LeadDynamo uses keywords to identify relevant scientific publications for which it then extracts authors contact information to automatically send personalized messages. This process can be repeated at regular weekly or monthly intervals ensuring your messaging is relevant and timely. Contacts can also be exported for seamless integration with your CRM. LeadDynamo - lead generation made easy.</p>

            <form class="form-horizontal" id="validate" role="form" method="post" action="/validate">
                <div class="form-group">
                    <div class="col-sm-12">
                        <img alt="Lead Dynamo" src="https://d2jem67z10pety.cloudfront.net/images/LeadDynamoScreen.png" style="width:100%;margin-top: -50px;margin-bottom: -70px;z-index: 1;"></img>
                    </div>
                </div>
                <hr>

                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" style="text-align: center;" class="form-control" id="name" placeholder="Name">
                    </div>
                </div>

                <div class="btn-group" style="width:100%;margin-bottom:15px;">
                  <button type="button" class="btn btn-default active" id="orgButton" style="width:50%;">Organization</button>
                  <button type="button" class="btn btn-default" id="emailButton" style="width:50%;">Email Ending</button>
                </div>

                <div class="form-group" id="inst">
                    <div class="col-sm-12">
                    <input type="text" style="text-align: center;" class="form-control" id="organization" placeholder="Organization">
                    </div>
                </div>
                <div class="form-group" id="end" style="display:none;">
                    <div class="col-sm-12">
                    <input type="text" style="text-align: center;" class="form-control" id="ending" placeholder="Email Ending (e.g. leaddynamo.info)">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                <div class="col-sm-12">
                <button type="submit" id="genEmail" class="btn btn-default btn-block">Generate Email</button>
                </div>
                </div>
            </form>
        </div>
        <div class="col-md-3">
        </div>
    </div>

    <div class="row" id="demoRow" style="display:none;">
        <div class="col-md-2">
        </div>
        <div class="col-md-8" id="demoVideo">
        </div>
        <div class="col-md-2">
        </div>
    </div>

    {{/if}}
    <div class="modal fade" id="emailModal">
        <div class="modal-dialog modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header" style="text-align:center;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Email Generation & Validation</h4>
                </div>
                <div class="modal-body emailBody" style="text-align:center;">

                </div>
            </div>
        </div>
    </div>
    </div>
    <div id="footer" style="z-index: 5;width: 100%;position: absolute;display:none;">
        <div class="contained">
            <p class="muted credit text-muted"><a href="/terms">Terms</a> &bull; <a href="/acceptableUse">Acceptable Use</a> &bull; <a href="/privacy">Privacy</a></p>
            <p class="muted text-muted"><a href="https://twitter.com/LeadDynamo" target="_blank"><i class="fa fa-twitter-square"></i></a> &bull; <a href="https://www.youtube.com/channel/UCKf1FiBpFKb6YRnW1VMi9cQ" target="_blank"><i class="fa fa-youtube-square"></i></a> &bull; <a href="https://vimeo.com/user29643946" target="_blank"><i class="fa fa-vimeo-square"></i></a></p>
            <p style="margin-bottom:20px;" class="muted credit text-muted">© LeadDynamo 2014</p>
        </div>
    </div>
</body>
</html>