<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LeadDynamo</title>
    <link rel="icon" type="image/png" href="https://d2jem67z10pety.cloudfront.net/images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">

    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/jquery-1.11.min.js" data-cfasync='true'></script>
    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/bootstrap.min.js" data-cfasync='true'></script>
    <script data-cfasync='true'>
        $(window).load(function(){
            if ($('.tooled') && $('.tooled').length){
                $('.tooled').tooltip();
            }
            {{#if email}}
                olark('api.visitor.updateEmailAddress', {emailAddress: '{{email}}'});
                olark('api.visitor.updateFullName', {fullName: '{{firstname}} {{lastname}}'});
            {{/if}}
        });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51607591-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body style="margin-bottom: 30px;">
<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('1519-278-10-5863');/*]]>*/</script><noscript><a href="https://www.olark.com/site/1519-278-10-5863/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->
    <div class="app" style="margin-right: 0px;margin-left: 0px;background-color:#ffffff;height: 100%;">

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img style="width:70px;margin-top:-7px;" src="https://d2jem67z10pety.cloudfront.net/images/LeadDynamoHeader.png"></img></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {{#unless loggedIn}}
                    <ul class="nav navbar-nav">
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                    </ul>
                    {{else}}
                    <ul class="nav navbar-nav">
                        <li><a href="/leads">Leads</a></li>
                    </ul>
                    {{/unless}}
                    {{#if loggedIn}}
                    <ul class="nav navbar-nav navbar-right" style="margin-right: -30px;">
                        {{#unless linkedin}}
                        <li class="tooled" data-toggle="tooltip" data-placement="bottom" title="Status update for 25 free credits"><a href="/linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                        {{/unless}}
                        {{#unless twitter}}
                        <li class="tooled" data-toggle="tooltip" data-placement="bottom" title="Tweet for 25 free credits"><a href="/twitter"><i class="fa fa-twitter-square"></i></a></li>
                        {{/unless}}
                        <li><a href="/credits">{{credits}} Credits</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{email}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">Profile</a></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                    {{/if}}
                </div>
            </div>
        </nav>

        <div class="row row-md-height" style="margin-bottom:20px;">
            <div class="col-md-8 col-md-height col-middle" style="text-align:left;">
                <h1>Privacy Policy</h1>

                Thanks for using LeadDynamo. This policy explains the what, how, and why of the

                information we collect when you use LeadDynamo. It also explains the specific ways

                we use and disclose that information. We never sell lists or email addresses.

                <h2>THE BASICS</h2>

                1. Definitions<br><br>

                We’ll start with the basics, including a few definitions that should help you

                understand this agreement. LeadDynamo (“LeadDynamo” or the “Service”) is an

                lead generation and email service offered through the URL www.leaddynamo.co

                (we’ll refer to it as the “Website”) that allows you to identify leads, create, send,

                and manage email newsletters (each message is called an “Email”) to individual

                recipients. LeadDynamo is owned and operated by LeadDynamo, LLC, a Delaware

                limited liability corporation (“LeadDynamo,” “we,” or “us”). LeadDynamo has

                employees, independent contractors, and representatives ("our Team"). As a

                customer of the Service or a representative of an entity that’s a customer of the

                Service, you're a “Member” according to this agreement (or “you”). In the course

                of providing the Services, we may collect Personal Information, which means

                information about a Member. A "Distribution List" is a list of email addresses that

                one of our Members has sent, or intends to send, emails to, and all information

                relating to those email addresses.

                <br><br>2. Changes<br><br>

                If there are any changes to this Privacy Policy, we’ll post them on the Website and

                send them to the last email address you gave us. Any changes will be effective as

                of the date we post on the Website or send the email (or whichever date is later).

                You may object to any changes within 20 days after they’re posted on our Website

                or delivered to you, in which case none of the proposed changes will be effective

                with respect to information that we’ve already collected from you, but will apply

                only to information we collect in the future. We won't treat information of any open

                account differently from any other open account. If you object to changes in our

                Privacy Policy, we’ll have to terminate your account. That said, if we ever changed

                our Privacy Policy to expand our rights to use or disclose Personal Information for

                marketing purposes, you‘d be able to opt out without termination.

                <br><br>3. Effective Date<br><br>

                This Privacy Policy is effective with respect to any data that we’ve collected, or

                collect, about and/or from you, according to our Terms of Use.

                <br><br>4. Questions<br><br>

                If you have any questions or comments, or if you want to update, delete, or change

                any Personal Information you’ve submitted on the Website, please use our contact

                form to get in touch or email us at <a href="mailto:info@leaddynamo.co?Subject=Account%20Inquiries" target="_top">info@leaddynamo.co</a>

                <h2>YOUR INFORMATION</h2>

                5. Information We Collect

                <ul><li>Information You Provide to Us: When you register to use the Services,

                communicate with our customer service team, send us an email, or post

                on our blog, you’re giving us information that we collect. That information

                may include your IP address, name, physical address, email address, phone

                number, credit card information, and other details like gender, occupation,

                and other demographic information. By giving us this information, you

                consent to your information being collected, used, disclosed, and stored by

                us, only as described in our Terms of Use and Privacy Policy.</li>

                <li>Information from your Use of the Service: We may get information about

                how and when you use the Services. This information may include your

                IP address, time, date, browser used, and actions taken by you within the

                application.</li>

                <li>Cookies: When you register to use LeadDynamo, we store "cookies," which

                are strings of code, on your computer. We use those cookies to collect

                information about when you visit our Website, when you use the Services,

                your browser type and version, your operating system, and other similar

                information. You may turn off cookies that have been placed on your

                computer by following the instructions on your browser, but if you block

                our cookies, it may be more difficult (and maybe even impossible) to use

                the Services. When you play one of the videos on the Websites, the Flash

                player may use local shared objects, which are also called Flash cookies. We

                don’t use these Flash cookies for anything, but we can’t stop the player from

                dropping them (we tried).</li>

                <li>Web Beacons: When we send emails to registered LeadDynamo customers,

                we'll sometimes track who opened the emails and who clicked the links. We

                do that to measure our Email Campaigns’ performance and to improve our

                features for specific segments of customers. To do this, we include single

                pixel gifs, also called web beacons, in emails we send. Web beacons allow us

                to collect information about when you open the email, your IP address, your

                browser or email client type, and other similar details. We also include Web

                Beacons in the emails we deliver for you. We use the data from those Web

                Beacons to create the reports you see about who has or hasn’t opened emails

                or clicked links. Reports are also available to us when we send you email, so

                we may collect and review that information.</li>

                <li>Information from Other Sources: We may get more information about

                you, like name, age, and participation in social media websites, by searching

                the internet or querying third parties (we’ll refer to that information as

                Supplemental Member Information). We only collect data that’s publicly

                available or provided by a third party according to its terms of use.

                Supplemental Member Information

                We use this “Supplemental Member Information” to develop features like Social Pro,

                a tool that helps you learn about your subscribers and send them more relevant

                content.</li></ul>

                <br><br>6. Use and Disclosure of Your Personal Information<br><br>

                We may use and disclose your Personal Information only as follows:

                <ul><li>To promote use of our Services. For example, if you leave your Personal

                Information when you visit our Website and don’t sign up for any of the

                Services, we may send you an email asking whether you want to sign up. And

                if you use any of our Services, and we think you might benefit from using

                another Service we offer, we may send you an email telling you about it.</li>

                <li>To bill and collect money owed to us. This includes sending you emails,

                invoices, receipts, notices of delinquency, and alerting you if we need a

                different credit card number. We use third parties for secure credit card

                transaction processing, and we send billing information to those third parties

                to process your orders and credit card payments. To learn more about the

                steps we take to safeguard that data, see Section 7 below.</li>

                <li>To send you System Alert Messages. For example, we may let you know

                about temporary or permanent changes to our Services, like planned

                outages, new features, version updates, releases, abuse warnings, and

                changes to our Privacy Policy.</li>

                <li>To enforce compliance with our Terms of Use and applicable law. This

                may include developing tools and algorithms that help us prevent violations.</li>

                <li>To provide customer support.</li>

                <li>To protect the rights and safety of our Members and third parties, as

                well as our own.</li>

                <li>To meet legal requirements like complying with court orders and valid

                subpoenas.</li>

                <li>To provide information to representatives and advisors, like attorneys

                and accountants, to help us comply with legal, accounting, or security

                requirements.</li>

                <li>To prosecute and defend a court, arbitration, or similar proceeding.</li>

                <li>To support and improve the Services we offer. This includes adding

                features that compare Members' Email Campaigns, or using data to suggest

                other publishers your subscribers may be interested in.

                <li>To communicate with you about your account for informational, not

                promotional, reasons.</li>

                <li>To transfer your information in the case of a sale, merger, consolidation,

                or acquisition. In that event, any acquirer will be subject to our obligations

                under this Privacy Policy.</li>

                <li>To send you informational and promotional content that you may

                choose (or "opt in") to receive. You can stop receiving our promotional

                emails by following the unsubscribe instructions included in every email.</li></ul>

                Subpoenas<br><br>

                Occasionally, we have to disclose information about our customers to meet legal

                requirements. Third-party disputes are a common example: If two parties have a

                dispute, and one of them used LeadDynamo in a way that’s relevant to the dispute,

                then we might get a request for user data. Whether we say “no way” or comply

                depends on the subpoena.

                <br><br>Unsubscribe Links<br><br>

                It’s the law! Unsubscribe links are required by the CAN-SPAM act. Plus, making it

                easy for people to opt out is the nice thing to do.

                <br><br>7. Public Information and Third Parties

                <ul><li>Social Media Widgets. Our Websites include social media features, like the

                Facebook Like button. These features may collect information about your

                IP address and which page you’re visiting on our site, and they may set a

                cookie to make sure the feature functions properly. Social media features and

                widgets are either hosted by a third party or hosted directly on our site. Your

                interactions with those features are governed by the privacy policies of the

                companies that provide them.</li>

                <li>Links to Third-Party Sites. Our Websites include links to other websites,

                whose privacy practices may be different from LeadDynamo’s. If you submit

                Personal Information to any of those sites, your information is governed by

                their privacy policies. We encourage you to carefully read the privacy policy

                of any Website you visit.</li></ul>

                8. Content of Email Campaigns<br><br>

                When you send email marketing, it bounces around from server to server as it

                crosses the internet. Along the way, server administrators can read what you send.

                Email wasn’t built for confidential information. If you have something confidential

                to send, please don’t use LeadDynamo.

                Sometimes we review the content of our Members’ email campaigns to make sure

                they comply with our Terms of Use. To improve that process, we have software

                that helps us find email campaigns that may violate our Terms. Our employees

                or independent contractors may review those particular Email Campaigns. This

                benefits all of our Members who comply with the Terms of Use because, among

                other things, it reduces the amount of spam being sent through our servers and

                helps to maintain high deliverability.

                <br><br>Confidentiality<br><br>

                Our rule of thumb is “Never send anything in an email that you wouldn’t put on a

                postcard.”

                <h2>YOUR LISTS</h2>

                9. Your Distribution Lists<br><br>

                We’ll use and disclose the information in your Distribution Lists only for the reasons

                listed under Use of Your Personal Information, except the following. (In other

                words, we will not use and disclose the information in your Distribution Lists to):

                <ol><li>bill or collect money owed to us;</li>

                <li>send you system alert messages;</li>

                <li>communicate with you about your account; or</li>

                <li>send you informational and promotional content.</li></ol>

                Your List Data<br><br>

                It’s worth repeating: We respect your privacy and your subscribers’ privacy. We’d

                never sell your information or bother anyone on your mailing list.

                <h2>SECURITY</h2>

                10. Notice of Breach of Security<br><br>

                Nobody’s safe from hackers. If a security breach causes an unauthorized intrusion

                into our system that materially affects you or people on your Distribution Lists, then

                LeadDynamo will notify you as soon as possible and later report the action we took

                in response.

                <br><br>11. Safeguarding Your Information<br><br>

                To protect your information, our credit card processing vendor uses the latest

                128-bit Secure Socket Layer (SSL) technology for secure transactions. Our vendor

                is certified as compliant with card association security initiatives, like the Visa

                Cardholder Information Security and Compliance (CISP), MasterCard® (SDP), and

                Discovery Information Security and Compliance (DISC).

                LeadDynamo accounts require a username and password to log in. You must keep

                your username and password secure, and never disclose it to a third party. Because

                the information in your Distribution Lists is so sensitive, account passwords are

                encrypted, which means we can’t see your passwords. We can’t resend forgotten

                passwords either. We’ll only reset them.

                <h2>COMPLIANCE</h2>

                12. Safe Harbor Certification<br><br>

                LeadDynamo complies with the U.S.–E.U. and U.S.–Swiss Safe Harbor Framework,

                which is overseen by the U.S. Department of Commerce and covers the collection,

                use, and retention of personal data from European Union member countries and

                Switzerland. We certify that we follow the principles of notice, choice, onward

                transfer, security, data integrity, access, and enforcement. A data processing

                agreement is available upon request, please contact <a href="mailto:info@leaddynamo.co?Subject=Account%20Inquiries" target="_top">info@leaddynamo.co</a>

                <br><br>13. Accuracy of Data, Transparency, and Choice<br><br>

                We do our best to keep your data accurate and up to date, to the extent that you

                provide us with the information we need to do that. If your data changes (like a new

                email address), then you’re responsible for notifying us of those changes.

                We only store data about you for as long as it’s reasonably required to fulfill the

                purposes that gave us the right to access it in the first place. We keep some data

                indefinitely, relating to when and where emails were sent, which bounced, which

                resulted in a complaint, and similar information, because we use it to help us screen

                out people who violate SPAM laws, and for other reasons explained in this policy.

                We’ll give you access to any Personal Information about you that we hold within 30

                days of any request for that information you make by emailing <a href="mailto:info@leaddynamo.co?Subject=Account%20Inquiries" target="_top">info@leaddynamo.co</a>

                Unless it’s prohibited by law, we’ll remove any Personal Information about you from

                our servers at your request.

                <br><br>14. Enforcement<br><br>

                We regularly review our compliance with this Privacy Policy. If we receive a written

                complaint, then we’ll respond to the person who made it.

                Thanks for taking the time to learn about LeadDynamo LLCs privacy policy, and

                thanks for trusting us to handle your email.

                <br><br>Updated June 25, 2014
            </div>
        </div>
    </div>
    <div id="footer" style="z-index: 5;width: 100%;position: absolute;">
        <div class="contained">
            <p class="muted credit text-muted"><a href="/terms">Terms</a> &bull; <a href="/acceptableUse">Acceptable Use</a></p>
            <p class="muted text-muted"><a href="https://twitter.com/LeadDynamo" target="_blank"><i class="fa fa-twitter-square"></i></a> &bull; <a href="https://www.youtube.com/channel/UCKf1FiBpFKb6YRnW1VMi9cQ" target="_blank"><i class="fa fa-youtube-square"></i></a> &bull; <a href="https://vimeo.com/user29643946" target="_blank"><i class="fa fa-vimeo-square"></i></a></p>
            <p style="margin-bottom:20px;" class="muted credit text-muted">© LeadDynamo 2014</p>
        </div>
    </div>
</body>
</html>