<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LeadDynamo</title>
    <link rel="icon" type="image/png" href="https://d2jem67z10pety.cloudfront.net/images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">

    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/jquery-1.11.min.js" data-cfasync='true'></script>
    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/bootstrap.min.js" data-cfasync='true'></script>
    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/moment.min.js" data-cfasync='true'></script>
    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/jquery.tablesorter.min.js" data-cfasync='true'></script>
    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/table2CSV.js" data-cfasync='true'></script>
    <script src="/socket.io/socket.io.js"></script>

    <script data-cfasync='true'>
        $(window).load(function(){
            var socket = io.connect();

            socket.on('connect', function(){
                socket.emit('auth');
            });

            if ($('.tooled') && $('.tooled').length){
                $('.tooled').tooltip();
            }
            function pad(n, width, z) {
              z = z || '0';
              n = n + '';
              return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
            }
            if ($('.exportTrigger') && $('.exportTrigger').length){
                var data = $('.exportTable').table2CSV({delivery:'value'});

                $('.exportTrigger')
                    .attr('id','downloadFile')
                    .attr('href','data:text/csv;charset=utf8,' + encodeURIComponent(data))
                    .attr('download','creditGrantHistories.csv');

                if (document.getElementById('downloadFile').download !== undefined) {

                }
                else if (navigator.msSaveBlob) {

                    $('.exportTrigger').on('click touchstart', function (evt){
                        var blob = new Blob([data], {
                        "type": "text/csv;charset=utf-8;"
                    });
                    navigator.msSaveBlob(blob, 'creditHistory.csv');

                    }, false);
                }
            }
            if ($('.exportTrigger2') && $('.exportTrigger2').length){
                var data = $('.exportTable2').table2CSV({delivery:'value'});

                $('.exportTrigger2')
                    .attr('id','downloadFile2')
                    .attr('href','data:text/csv;charset=utf8,' + encodeURIComponent(data))
                    .attr('download','creditGrantHistory.csv');

                if (document.getElementById('downloadFile2').download !== undefined) {

                }
                else if (navigator.msSaveBlob) {

                    $('.exportTrigger2').on('click touchstart', function (evt){
                        var blob = new Blob([data], {
                        "type": "text/csv;charset=utf-8;"
                    });
                    navigator.msSaveBlob(blob, 'creditGrantHistories.csv');

                    }, false);
                }
            }
            var stripeKey = '{{stripeKey}}';
            var price = Number('{{price}}');

            {{#if admin}}
                $('#creditSend').submit(function (evt){
                    evt.preventDefault();
                    $.post('/creditSend',{email : $('#email').val(), amount : $('#amountSend').val()},function(evt){
                        window.location = '/credits';
                    });
                });
            {{/if}}

            $('#creditForm').submit(function (evt){
                evt.preventDefault();
                if (!isNaN(Number($('#amount').val()))){
                    var amount = Number($("#amount").val());
                    var paddedTotal = (price * amount * 100).toFixed();
                    $('.creditFormHolder').html("\<div class=\'alert alert-info\'\>" + amount + " credits for $" + (price * amount).toFixed(2) + "\</div\>\<form id=\'stripePayment\' action=\'/stripe\' method=\'POST\'\>\<script src=\'https://checkout.stripe.com/checkout.js\' class=\'stripe-button\' data-key=\'" + stripeKey + "\' data-amount=\'" + paddedTotal + "\' data-name=\'LeadDynamo Credits\' data-description=\'" + $("#amount").val() + " credits \($" + (price * amount).toFixed(2) + "\)\' data-image=\'/images/LeadDynamoStripe.png\'\>\</script\>\<input type=\'hidden\' id=\'amount\' name=\'amount\' value=\'" + paddedTotal + "\'\>\</form\>");
                    $('#stripePayment').submit(function(ev) {
                        window.location('/credits');
                    });
                }
            });
            if ($('#tabled') && $('#tabled').length){
                $('#tabled').tablesorter();
            }
            if ($('#tabled2') && $('#tabled2').length){
                $('#tabled2').tablesorter();
            }
            {{#if email}}
                olark('api.visitor.updateEmailAddress', {emailAddress: '{{email}}'});
                olark('api.visitor.updateFullName', {fullName: '{{firstname}} {{lastname}}'});
            {{/if}}
        });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51607591-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body style="margin-bottom: 30px;">
<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('1519-278-10-5863');/*]]>*/</script><noscript><a href="https://www.olark.com/site/1519-278-10-5863/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->
    <div class="app" style="margin-right: 0px;margin-left: 0px;background-color:#ffffff;height: 100%;">

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img style="width:70px;margin-top:-7px;" src="https://d2jem67z10pety.cloudfront.net/images/LeadDynamoHeader.png"></img></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/leads">Leads</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" style="margin-right: -30px;">
                        {{#unless linkedin}}
                        <li class="tooled" data-toggle="tooltip" data-placement="bottom" title="Status update for 25 free credits"><a href="/linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                        {{/unless}}
                        {{#unless twitter}}
                        <li class="tooled" data-toggle="tooltip" data-placement="bottom" title="Tweet for 25 free credits"><a href="/twitter"><i class="fa fa-twitter-square"></i></a></li>
                        {{/unless}}
                        <li class="active"><a href="/credits">{{credits}} Credits</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{email}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">Profile</a></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row" style="text-align:center;">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
            <div class="alert alert-info">
                Leads cost one credit each. Credits cost ${{price}} each. LeadDynamo ensures you never generate the same lead twice. Every lead comes with an active email address guaranteed.
            </div>
            </div>
            <div class="col-md-3">

            </div>
        </div>
        {{#if admin}}
        <div class="row">
        {{else}}
        <div class="row" style="margin-bottom:50px;">
        {{/if}}
            <div class="col-md-3" style="text-align:center;">

            </div>
            <div class="col-md-6" style="text-align:center;">
                <div class="well well-lg creditFormHolder">
                    <form class="form-inline" role="form" id="creditForm">
                        <div class="form-group">
                            <input type="text" class="form-control" id="amount" placeholder="Amount of Credits" style="text-align:center;">
                        </div>
                        <button type="submit" class="btn btn-default">Get Credits</button>
                    </form>
                </div>
            </div>
            <div class="col-md-3" style="text-align:center;">

            </div>
        </div>
        {{#if admin}}
            <div class="row" style="margin-bottom:50px;">
                <div class="col-md-3" style="text-align:center;">

                </div>
                <div class="col-md-6" style="text-align:center;">
                    <div class="well well-lg">
                        <form class="form-horizontal" role="form" id="creditSend">
                            <div class="form-group row">
                                <input type="email" class="form-control" id="email" placeholder="Email To" style="text-align:center;">
                            </div>
                            <div class="form-group row">
                                <input type="text" class="form-control" id="amountSend" placeholder="Amount of Credits" style="text-align:center;">
                            </div>
                            <div class="form-group row" style="margin-bottom:0px;">
                                <button type="submit" class="btn btn-default btn-block">Send Credits</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3" style="text-align:center;">

                </div>
            </div>
        {{/if}}
        {{#if creditGrants}}
            <div class="row" style="margin-bottom:50px;">
            <div class="col-md-12" style="text-align:center;">
            <h2>
            Credit Grant History
            </h2>
            <h4>
            <a class="exportTrigger2" href="#">Export to CSV</a>
            </h4>
            <hr>
            <table id="tabled2" class="table table-striped exportTable2 tablesorter">
                <thead>
                <tr style="text-align:center;" class="centered">
                    <th>
                        Date
                    </th>
                    <th>
                        Email To
                    </th>
                    <th>
                        Email Account From
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Redeemed
                    </th>
                    <th>
                        Redeemed Date
                    </th>
                </tr>
                </thead>
                <tbody>
                {{#each creditGrants}}
                    <tr style="text-align:center;" class="centered">
                        <td>
                            {{date}}
                        </td>
                        <td>
                            {{emailTo}}
                        </td>
                        <td>
                            {{emailFrom}}
                        </td>
                        <td>
                            {{amount}}
                        </td>
                        <td>
                            {{#if redeemed}}
                            <i class="fa fa-check-circle-o" style="color: #5bb75b !important;"></i>
                            {{/if}}
                        </td>
                        <td>
                            {{dateRedeemed}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            </div>
        </div>
        {{/if}}
        {{#if creditHistories}}
            <div class="row" style="margin-bottom:50px;">
                <div class="col-md-12" style="text-align:center;">
                <h2>
                Credit Purchase History
                </h2>
                <h4>
                <a class="exportTrigger" href="#">Export to CSV</a>
                </h4>
                <hr>
                <table id="tabled" class="table table-striped exportTable tablesorter">
                    <thead>
                    <tr style="text-align:center;" class="centered">
                        <th>
                            Date
                        </th>
                        <th>
                            Credits
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Method
                        </th>
                        <th>
                            LeadDynamo Id
                        </th>
                        <th>
                            Payment Processor Id
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each creditHistories}}
                        <tr style="text-align:center;" class="centered">
                            <td>
                                {{formattedDate}}
                            </td>
                            <td>
                                {{amount}}
                            </td>
                            <td>
                                {{formattedPrice}}
                            </td>
                            <td>
                                {{payMethod}}
                            </td>
                            <td>
                                {{id}}
                            </td>
                            <td>
                                {{paymentId}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
                </div>
            </div>
        {{/if}}
    </div>
    <div id="footer" style="z-index: 5;width: 100%;position: absolute;">
        <div class="contained">
            <p class="muted credit text-muted"><a href="/terms">Terms</a> &bull; <a href="/acceptableUse">Acceptable Use</a> &bull; <a href="/privacy">Privacy</a></p>
            <p class="muted text-muted"><a href="https://twitter.com/LeadDynamo" target="_blank"><i class="fa fa-twitter-square"></i></a> &bull; <a href="https://www.youtube.com/channel/UCKf1FiBpFKb6YRnW1VMi9cQ" target="_blank"><i class="fa fa-youtube-square"></i></a> &bull; <a href="https://vimeo.com/user29643946" target="_blank"><i class="fa fa-vimeo-square"></i></a></p>
            <p style="margin-bottom:20px;" class="muted credit text-muted">© LeadDynamo 2014</p>
        </div>
    </div>
</body>
</html>