<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LeadDynamo</title>
    <link rel="icon" type="image/png" href="https://d2jem67z10pety.cloudfront.net/images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">

    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/jquery-1.11.min.js" data-cfasync='true'></script>
    <script src="https://d2jem67z10pety.cloudfront.net/javascripts/bootstrap.min.js" data-cfasync='true'></script>
    <script data-cfasync='true'>
        $(window).load(function(){
            if ($('.tooled') && $('.tooled').length){
                $('.tooled').tooltip();
            }
            {{#if email}}
                olark('api.visitor.updateEmailAddress', {emailAddress: '{{email}}'});
                olark('api.visitor.updateFullName', {fullName: '{{firstname}} {{lastname}}'});
            {{/if}}
        });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51607591-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body style="margin-bottom: 30px;">
<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('1519-278-10-5863');/*]]>*/</script><noscript><a href="https://www.olark.com/site/1519-278-10-5863/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->
    <div class="app" style="margin-right: 0px;margin-left: 0px;background-color:#ffffff;height: 100%;">

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img style="width:70px;margin-top:-7px;" src="https://d2jem67z10pety.cloudfront.net/images/LeadDynamoHeader.png"></img></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {{#unless loggedIn}}
                    <ul class="nav navbar-nav">
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                    </ul>
                    {{else}}
                    <ul class="nav navbar-nav">
                        <li><a href="/leads">Leads</a></li>
                    </ul>
                    {{/unless}}
                    {{#if loggedIn}}
                    <ul class="nav navbar-nav navbar-right" style="margin-right: -30px;">
                        {{#unless linkedin}}
                        <li class="tooled" data-toggle="tooltip" data-placement="bottom" title="Status update for 25 free credits"><a href="/linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                        {{/unless}}
                        {{#unless twitter}}
                        <li class="tooled" data-toggle="tooltip" data-placement="bottom" title="Tweet for 25 free credits"><a href="/twitter"><i class="fa fa-twitter-square"></i></a></li>
                        {{/unless}}
                        <li><a href="/credits">{{credits}} Credits</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{email}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">Profile</a></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                    {{/if}}
                </div>
            </div>
        </nav>

        <div class="row row-md-height" style="margin-bottom:20px;">
            <div class="col-md-8 col-md-height col-middle" style="text-align:left;">

                <h1>Terms and Conditions</h1>

                Thanks for using LeadDynamo.<br><br>

                Please read these Terms carefully. By using LeadDynamo or signing up for an

                account, you’re agreeing to these Terms. This is a legal agreement.

                We’ll start with the basics, including a few definitions that should help you

                understand this agreement. LeadDynamo (“LeadDynamo” or the “Service”) is an

                lead generation and email service offered through the URL www.leaddynamo.co

                (we’ll refer to it as the “Website”) that allows you to identify leads, create, send,

                and manage email newsletters (each message is called an “Email”) to individual

                recipients. LeadDynamo is owned and operated by LeadDynamo, LLC, a Delaware

                limited liability corporation (“LeadDynamo,” “we,” or “us”). LeadDynamo has

                employees, independent contractors, and representatives ("our Team"). As a

                customer of the Service or a representative of an entity that’s a customer of the

                Service, you're a “Member” according to this agreement (or “you”).

                These Terms of Use (“Terms,” including our Privacy Policy and Acceptable Use

                Policy,) define the terms and conditions under which you’re allowed to use

                LeadDynamo and how we’ll treat your account while you’re a Member. If you have

                any questions about our terms, feel free to contact us.

                <h2>ACCOUNT</h2>

                1. Eligibility<br><br>

                In order to use LeadDynamo, you must:

                <ul><li>be at least eighteen (18) years old and able to enter into contracts;

                <li>complete the registration process;

                <li>agree to the Terms; and

                <li>provide true, complete, and up to date contact information.</ul>

                By using LeadDynamo, you represent and warrant that you meet all the

                requirements listed above, and that you won’t use LeadDynamo in a way that

                violates any laws or regulations. LeadDynamo may refuse service, close accounts of

                any users, and change eligibility requirements at any time.

                Represent and Warrant

                “Representing and warranting” is like making a legally enforceable promise.

                <br><br>2. Term<br><br>

                The Term begins when you sign up for LeadDynamo and continues as long as you

                use the Service. Clicking the button and entering your email means that you’ve

                officially “signed” the Terms. If you sign up for LeadDynamo on behalf of a company

                or other entity, you represent and warrant that you have the authority to accept

                these Terms on their behalf.

                <br><br>3. Closing Your Account<br><br>

                You or LeadDynamo may terminate this Agreement at any time and for any reason

                by giving Notice to the other party. We may suspend our Service to you at any time,

                with or without cause. If we terminate your account without cause, we'll refund

                a prorated portion of your unused credits. We won’t refund or reimburse you if

                there’s cause, like a violation of these Terms or our Acceptable Use Policy. Once

                terminated, we may permanently delete your account and all the data associated

                with it, including your emails from our Website. If you don’t log in to your account

                for 12 or more months, we may treat your account as "inactive" and permanently

                delete the account and all the data associated with it.

                <br><br>Acceptable Use Policy<br><br>

                Our Acceptable Use Policy sets some rules that you have to follow as a LeadDynamo

                user. Some are dictated by the law, some are common sense (do unto others), and

                some are based on our experience delivering email.

                <br><br>4. Changes<br><br>

                We may change any of the Terms by posting revised Terms of Use on our Website

                and/or by sending an email to the last email address you gave us. Unless you

                terminate your account within ten (10) days, the new Terms will be effective

                immediately and apply to any continued or new use of LeadDynamo. We may

                change the Website, the Service, or any features of the Service at any time.

                <br><br>5. Account and Password<br><br>

                You’re responsible for keeping your account name and password confidential.

                You’re also responsible for any account that you have access to, whether or not you

                authorized the use. You’ll immediately notify us of any unauthorized use of your

                accounts. We’re not responsible for any losses due to stolen or hacked passwords.

                We don’t have access to your current password, and for security reasons, we may

                only reset your password.

                <br><br>6. Account Disputes<br><br>

                We don’t know the inner workings of your organization or the nature of your

                personal relationships, and we don't arbitrate disputes over who owns an account.

                You won't request access to or information about an account that's not yours,

                and you'll resolve any account-related disputes directly with the other party. We

                decide who owns an account based on the content of the emails in that account,

                and if multiple people or entities are identified in the content, then we'll rely on the

                contact information listed for that account.

                <h2>PAYMENT</h2>

                7. Credits<br><br>

                You may buy Credits to use our Services. If you choose a Credit Plan, you’ll still be

                considered a Member, and other than the monthly payment requirement, all the

                terms of this Agreement will still apply to you. Credits (prepaid) accounts roll over

                and don’t expire, but if you’re inactive for more than 12 months your account may

                be deleted.

                <br><br>8. Subscriptions (Automated Monthly Payment for Credits)<br><br>

                Credits may be purchased in bulk or if you elect to repeat your keyword searches,

                Credits will be purchased automatically using your saved credit card information on

                a monthly basis as new leads are added to the LeadDynamo database.

                <br><br>9. Credit Cards<br><br>

                As long as you’re a Member or have an outstanding balance with us, you'll provide

                us with valid credit card information and authorize us to deduct the monthly

                charges against that credit card. You’ll replace the information for any credit card

                that expires with information for a different valid credit card. Anyone using a

                credit card represents and warrants that he or she is authorized to use that credit

                card, and that any and all charges may be billed to that credit card and won’t be

                rejected. If, for some reason, we’re unable to process your credit card order, we’ll

                try to contact you by email and suspend your account until your payment can be

                processed. Sorry, we don’t accept T-shirts or other forms of barter at this time.

                <br><br>10. Refunds<br><br>

                We’ll give you a refund for a prepaid month if we stop providing our Services to

                you for a reason that's not laid out in these Terms or our Acceptable Use Policy.

                You won’t be entitled to a refund from us under any other circumstances. We may

                offer a refund if a Member applies for one based on the requirements posted on the

                Website.

                <br><br>11. Changes<br><br>

                We may change our fees at any time by posting a new pricing structure to our

                Website and/or sending you a notification by email.

                <h2>RIGHTS</h2>

                12. Proprietary Rights Owned by Us<br><br>

                You shall respect our proprietary rights in the Website and the software used to

                provide LeadDynamo (proprietary rights include patents, trademarks, service

                marks, and copyrights).

                <br><br>13. Proprietary Rights Owned by You<br><br>

                You represent and warrant that you either own or have permission to use all of the

                material in your Emails. You retain ownership of the materials you upload to the

                Service. We may use or disclose your materials only as we describe in these Terms

                and our Privacy Policy.

                <br><br>14. Privacy Policy<br><br>

                We may use and disclose your information according to our Privacy Policy. Our

                Privacy Policy will be treated as part of these Terms.

                <br><br>15. Right to Review Email Campaigns<br><br>

                We may view, copy, and internally distribute content from your Emails and account

                to create algorithms and programs ("Tools") that help us spot problem accounts. We

                use these Tools to find Members who violate these Terms or laws.

                <h2>RULES AND ABUSE</h2>

                16. General Rules<br><br>

                You promise to follow these rules:<br><br>

                <ul><li>You won’t violate our Acceptable Use Policy, which is part of this Agreement.</li></ul>

                If you violate any of these rules, then we may suspend or terminate your account.

                <br><br>17. Reporting Abuse<br><br>

                If you think anyone is violating any of these Terms, please notify us immediately. If

                you received spam you think came from a LeadDynamo user, we want to hear about

                it. Please report it to our abuse team. If you think anyone has posted material that

                violates any copyrights, then you may notify us according to our Copyright Policy.

                <br><br>18. Bandwidth Abuse/Throttling<br><br>

                You may only use our bandwidth for your LeadDynamo emails. We provide image

                hosting only for your email campaigns, so you may not host images on our servers

                for anything other than your email campaigns (like a website).

                <br><br>19. Compliance with Laws<br><br>

                You represent and warrant that your use of LeadDynamo will comply with all

                applicable laws and regulations. You’re responsible for determining whether our

                Services are suitable for you to use in light of any regulations like HIPAA, GLB,

                EU Data Privacy Laws, or other laws. If you're subject to regulations (like HIPAA)

                and you use our Service, then we won't be liable if our Service doesn't meet those

                requirements. If you’re located in the European Economic Area (EEA) or send

                to anyone in the EEA, you represent and warrant that in creating your Email

                distribution list, sending Emails via LeadDynamo, and collecting information as a

                result of sending Emails, you:

                <ul><li>Will clearly describe in writing how you plan to use any data collected,

                including for your use of LeadDynamo. You’ll get express consent to transfer

                data to LeadDynamo as part of this process, and you’ll otherwise comply with

                whatever privacy policy you have posted.</li>

                <li>Have complied, and will comply, with all regulations, as well as data

                protection, electronic communication, and privacy laws that apply to the

                countries where you’re sending any form of email through LeadDynamo.</li>

                <li>Have collected, stored, used, and transferred all data relating to any

                individual in compliance with all data protection laws and regulations. You

                have the necessary permission to allow LeadDynamo to receive and process

                data and send communications to that individual on your behalf.</li>

                <li>Agree to indemnify and hold us harmless from any losses, including attorney

                fees, that result from your breach of any part of these warranties.</li></ul>

                <br><br>European Economic Area<br><br>

                This applies to people who are sending to or from the European Economic Area.

                The EEA includes countries that are part of the European Union, plus Iceland,

                Liechtenstein, and Norway.

                <br><br>20. U.S. Export Controls<br><br>

                The software that supports the Services (the "Software") is subject to United States

                export controls. None of the Software may be downloaded or otherwise exported or

                re-exported in violation of United States export laws. You’re downloading and using

                the Software at your own risk.

                <br><br>Export Controls<br><br>

                Export laws are set up by the government to keep certain goods and services from

                reaching other countries, usually because of security concerns or trade agreements.

                <br><br>21. Extent of Available Information<br><br>

                The amount of profiles (leads) and additional information available on our website

                may vary from day to day. We do our best to increase the extent of the available

                information and its accuracy. We do not guarantee a minimum number of available

                company profiles, nor the completeness or accuracy of any profile published in

                the database. LeadDynamo cannot be held liable for any information available or

                missing from the database.

                22. Quality of available information LeadDynamo assumes no liability for

                any damage or loss arising from access to or use of the LeadDynamo website, the

                database, and the information contained therein. The LeadDynamo Database and

                all the data included in the database is free of any infringement of any third parties'

                rights and/or breaches of LeadDynamo obligation under other agreements.

                23. Use of information You agree that any downloaded content will be used for

                internal purposes only. Particularly, data harvesting will not be allowed, nor the

                unreasonable use of contact details in sending out emails. Furthermore, no data

                can be made available to third parties. No part of this website may be reproduced

                or transmitted in any form or by any means, electronically, mechanically,

                by photocopying, by recording or otherwise, without prior permission from

                LeadDynamo, LLC

                <h2>LIABILITY</h2>

                24. Limitation of Liability<br><br>

                To the maximum extent permitted by law, you assume full responsibility

                for any loss that results from your use of the Website and the Services,

                including any downloads from the Website. We and our Team won’t be liable

                for any indirect, punitive, special, or consequential damages under any

                circumstances, even if they’re based on negligence or we’ve been advised of

                the possibility of those damages. Our total liability for all claims made about

                the Service in any month will be no more than what you paid us for the Service

                the month before.

                <br><br>25. No Warranties<br><br>

                To the maximum extent permitted by law, we provide the material on the

                Website and the Service as is. That means we don’t provide warranties of any

                kind, either express or implied, including but not limited to warranties of

                merchantability and fitness for a particular purpose.

                <br><br>Warranties of Merchantability<br><br>

                Since people use LeadDynamo for a variety of reasons, we can’t guarantee that it

                will meet your specific needs. But we hope it does!

                <br><br>26. Indemnity<br><br>

                You agree to indemnify and hold us and our Team harmless from any losses

                (including attorney fees) that result from any claims you make that aren’t allowed

                under these Terms due to a "Limitation of Liability" or other provision. You also

                agree to indemnify and hold us harmless from any losses (including attorney fees)

                that result from third-party claims that you or someone using your password did

                something that, if true, would violate any of these Terms.

                <br><br>Indemnity<br><br>

                <br><br>Indemnity is an agreement to compensate someone for a loss.<br><br>

                <br><br>27. Attorney Fees<br><br>

                If we file an action against you claiming you breached these Terms and we prevail,

                we’re entitled to recover reasonable attorney fees and any damages or other relief

                we may be awarded.

                <br><br>28. Liquidated Damages<br><br>

                In some cases, a breach of these Terms could cause damages, but proving the

                actual damages would be impossible. These cases will result in the corresponding

                liquidated damages, which are a reasonable pre-estimate of the damages:

                <ol><li>If you host images for anything other than your Emails, or use our resources

                in any way that’s not permitted by these Terms, then the liquidated damages

                will be four times the amount you paid us over the past 12 months, but not

                less than $720.</li>

                <li>If you don’t pay an amount due within thirty (30) days after we send you a

                late payment notice, then the liquidated damages will be three times the total

                amount you paid us over the past 12 months, but not less than $540 plus the

                amount owed.</li></ol>

                <br><br>29. Equitable Relief<br><br>

                If you violate these Terms then we may seek injunctive relief (meaning we may

                request a court order to stop you) or other equitable relief.

                <br><br>30. Subpoena Fees<br><br>

                If we have to provide information in response to a subpoena related to your

                account, then we may charge you for our costs. These fees may include attorney and

                employee time spent retrieving the records, preparing documents, and participating

                in a deposition.

                <br><br>31. Disclaimers<br><br>

                We and our Team aren’t responsible for the behavior of any advertisers, linked

                websites, or other Members.

                <h2>FINE PRINT</h2>

                32. Notice to U.S. Government End Users<br><br>

                The Software and Website, including all documentation, are "Commercial Items,"

                as that term is defined at 48 C.F.R. §2.101, and consist of "Commercial Computer

                Software" and "Commercial Computer Software Documentation." The Commercial

                Computer Software and Commercial Computer Software Documentation are

                licensed to U.S. Government end users:

                <ul><li>only as Commercial Items,</li>

                <li>with the same rights as all other end users, and</li>

                <li>according to the Terms</li></ul>

                Published and Unpublished rights are reserved under the copyright laws of the

                United States. Manufacturer is LeadDynamo, LLC.

                <br><br>Notice to U.S. Government End Users<br><br>

                This part will matter to you if you’re affiliated with the U.S. government.

                <br><br>33. Assignments<br><br>

                You may not assign any of your rights under this agreement to anyone else. We may

                assign our rights to any other individual or entity at our discretion.

                <br><br>34. Choice of Law<br><br>

                The State of Delaware laws, except for conflict of laws rules, will apply to any

                dispute related to these Terms or the Service. Any dispute related to the Terms, the

                Privacy Policy, or the Service itself will be decided by the state and federal courts in

                Deleware and each party will be subject to the jurisdiction of those courts.

                <br><br>35. Force Majeure<br><br>

                We won’t be held liable for any delays or failure in performance of any part of the

                Service, from any cause beyond our control. This includes, but is not limited to, acts

                of God, changes to law or regulations, embargoes, war, terrorist acts, riots, fires,

                earthquakes, nuclear accidents, zombie apocalypse, floods, strikes, power blackouts,

                volcanic action, unusually severe weather conditions, and acts of hackers or third-party internet service providers.

                <br><br>36. Survivability<br><br>

                Even if this Agreement is terminated, the following sections will continue to apply:

                Proprietary Rights Owned by Us, Proprietary Rights Owned by You, Compliance

                with Laws, Limitation of Liability, No Warranties, Indemnity, Choice of Law,

                Severability, and Entire Agreement.

                <br><br>37. Severability<br><br>

                If it turns out that a section of this Agreement isn’t enforceable, then that section

                will be removed or edited as little as necessary, and the rest of the Terms will still be

                valid.

                <br><br>38. Interpretation<br><br>

                The headers and sidebar text are provided only to make this agreement easier to

                read and understand. The fact that we wrote these Terms won’t affect the way this

                Agreement is interpreted.

                <br><br>39. Amendments and Waiver<br><br>

                Amendments or changes to these Terms won’t be effective until we post revised

                Terms on the Website. That aside, additional terms may apply to certain features

                of the Service (the "Additional Terms"). The Additional Terms will be considered

                incorporated into these Terms when you activate the feature. Where there’s a

                conflict between these Terms and the Additional Terms, the Additional Terms will

                control. If we don’t immediately take action on a violation of these Terms, we’re not

                giving up any rights under the Terms, and we may still take action at some point.

                <br><br>40. No Changes in Terms at Request of Member<br><br>

                Because we have so many Members, we can’t change these Terms for any one

                Member or group. If we did that, keeping up with the changes would be a logistical

                nightmare. So no changes, no exceptions.

                <br><br>41. Further Actions<br><br>

                You’ll provide all documents and take any actions necessary to meet your

                obligations under these Terms.

                <br><br>42. Notification of Security Breach<br><br>

                In the event of a security breach that may affect you or anyone on your Email

                distribution lists (each a "List"), we’ll notify you of the breach and provide a

                description of what happened. If we determine, and notify you, that you need to

                forward all or part of that information to anyone on your Lists, you’ll promptly do it.

                <br><br>43. Notices<br><br>

                Any notice to you will be effective when we send it to the last email or physical

                address you gave us or posted on our Website. Any notice to us will be effective

                when delivered to us along with a copy to our legal counsel

                <br><br>44. Entire Agreement<br><br>

                These Terms, our Privacy Policy, Acceptable Use Policy, (all of which are

                incorporated into these Terms by reference), and any Additional Terms you’ve

                agreed to make up the entire agreement and supersede all prior agreements,

                representations, and understandings.

                Congratulations! You’ve reached the end. Thanks for taking the time to learn about

                LeadDynamo's policies.
            </div>
        </div>
    </div>
    <div id="footer" style="z-index: 5;width: 100%;position: absolute;">
        <div class="contained">
            <p class="muted credit text-muted"><a href="/acceptableUse">Acceptable Use</a> &bull; <a href="/privacy">Privacy</a></p>
            <p class="muted text-muted"><a href="https://twitter.com/LeadDynamo" target="_blank"><i class="fa fa-twitter-square"></i></a> &bull; <a href="https://www.youtube.com/channel/UCKf1FiBpFKb6YRnW1VMi9cQ" target="_blank"><i class="fa fa-youtube-square"></i></a> &bull; <a href="https://vimeo.com/user29643946" target="_blank"><i class="fa fa-vimeo-square"></i></a></p>
            <p style="margin-bottom:20px;" class="muted credit text-muted">© LeadDynamo 2014</p>
        </div>
    </div>
</body>
</html>